[2018-03-31 08:29] d3lm opened #2 "Add unit and e2e tests"

[2018-03-31 08:36] d3lm opened #3 "Update to Angular v6"

[2018-03-31 16:16] QuinntyneBrown opened #4 "Square representing the selected area is not aligned with mouse when inside angular material mat-drawer"
Square representing the selected area is not aligned with the actual mouse position when inside Angular Material `mat-drawer`.

Reproduction steps:

1. Open the following [StackBlitz](https://stackblitz.com/github/QuinntyneBrown/ngx-drag-to-select-getting-started-cli)

2. Navigate to the dashboard page

3. Select a group of documents

The selection rectangle is pretty far off from the actual mouse

[2018-03-31 16:17] d3lm opened #5 "Position relative on a parent container breaks the selection box"

[2018-03-31 16:33] #4 closed

[2018-03-31 16:52] d3lm commented on #4
This should be fixed with the latest release `1.0.3`. Can you please verify if it works?

[2018-04-01 04:30] MurhafSousli opened #6 "Import RxJS operators individually"
Hi @d3lm, nice implementation!

Wouldn't it be better to import RxJS operators individually, to avoid including all operators?

[code]

[2018-04-01 07:53] d3lm commented on #6
Thanks! What exactly do you mean by importing the operators individually?

[2018-04-01 08:07] MurhafSousli commented on #6
Right, but that would import the whole functions
[code]

[2018-04-01 08:37] d3lm commented on #6
Yes, I think you are right. For a library this might be a better way of importing the operators because if someone uses this in a project that sits on an older version of Webpack or some other build tool that does not take care of tree shaking away the code that is not used, the bundle size will grow. This is because by default `rxjs/operators` will resolve to the CommonJS output of RxJS, as descr

[2018-04-01 08:41] d3lm commented on #6
Just checked with some other open source library like `@ngrx/store` and they basically use the same way of importing operators as I do.

https://github.com/ngrx/platform/blob/master/modules/store/src/store.ts#L3

[2018-04-01 16:15] fmalcher commented on #6
Interesting topic!
As long as you use pipeable operators and a Webpack build to bundle the library package I would stick with the current approach of importing from rxjs/operators.
Will your bundles become smaller when you import operators from their own separate paths? In fact, I've never used the deep imports until now.

[2018-04-01 19:40] d3lm commented on #6
Yep, agreed. This is also what Ben said on Twitter and also what can be found in the docs.

The bundle size will not be smaller as I am not embedding dependencies. The bundle basically only contains library related code.

[2018-04-02 00:16] yashints commented on #6
I quite agree with @fmalcher. Importing from one place is much better. The bundle size has nothing to do with this as long as you have a good build process which only brings modules you need

[2018-04-02 15:50] d3lm commented on #6
Closing this one as no action or refactoring is needed.

[2018-04-02 15:50] #6 closed

[2018-04-03 11:10] michaelbromley opened #7 "Selection rectangle persists if "alt" is pressed and held mid-drag"
Great lib and very nicely executed. Here's a kinda edge-case bug I found:

- Windows 10
- Chrome 65

### Reproduction

1. Start dragging in the drag area
2. Press and hold the alt key
3. Release the mouse button to stop dragging
4. Release the alt key

### Expected
The selection rectangle disappears once the dragging has ended at step 3 above.

### Actual
The selection rectangle persists until a n

[2018-04-03 11:43] d3lm commented on #7
Thank you for submitting this issue. I'll look into it ASAP.

[2018-04-03 11:52] d3lm commented on #7
Maybe it makes sense to only start the dragging process if `alt` is not pressed.

The idea here would be that pressing the `alt` key while dragging and selecting items will not interrupt the selection process. This means that, in order to disable the selection you have to press the `alt` key **before** you start dragging.

What do you think @michaelbromley?

[2018-04-03 12:17] michaelbromley commented on #7
Yes that would make sense to me 👍

[2018-04-03 12:34] d3lm commented on #7
Ok, this should be fixed now. Can you verify?

[2018-04-03 12:54] michaelbromley commented on #7
Looks good! What a rapid resolution!

[2018-04-03 12:54] #7 closed

[2018-04-04 07:28] reppners opened #8 "Selection rectangle not relative to scrollHeight"
Had a little fun poking around with your lib and I think its awesome!

Theres only one thing that did not behave as I would've expected:
When a selection container is scrollable and a selection is started the browser starts scrolling when getting close to the edge of the viewport. My expectation was that the starting point of the selection rectangle "sticks" to it's coordinates on the scrollable c

[2018-04-04 07:38] d3lm commented on #8
Hey there! Thanks, glad you like the library.

It's indeed a bug and I appreciate that you have been fiddling with it. I'll fix it ASAP.
Thanks for reporting the issue.

[2018-04-04 07:52] KwintenP opened #9 "Hook into the requestAnimationFrame for UI changes"
Hi Dom,

First of all kudos on the lib! Looks really nice!

I looked at the code and there was one thing I noticed. You use the `auditTime` operator to wait 16ms before updating for example the `selectedItems` or the `selectBox`. This way, Angular will only update the UI every 16ms which makes sense, 60FPS ftw.

I was just wondering if it would make even more sense to hook the updates you want to

[2018-04-04 22:28] cartant commented on #9
You could make this a little bit simpler by taking advantage of the fact that `auditTime` accepts a `Scheduler`:

[code]

Then you wouldn't need the 16 ms constant.

[2018-04-05 07:25] KwintenP commented on #9
Hi Nicholas,

I'm not 100% sure this will 'fix the problem' (quotes as this is a micro optimisation so not really a problem).

I thought about this as well, this will schedule all the changes to the `selectBox$` on the `animationFrame` scheduler. However, imagine a worst case (and probably unlikely) scenario that you have a 1000 events coming in to the `selectBox$` and scheduling them all to be ex

[2018-04-05 08:44] cartant commented on #9
Kwinten, it's been a while since I last poked around in the `Scheduler`-related parts of the RxJS source, but I'm pretty sure that when using a scheduler, an action is always scheduled to be executed asynchronously. So specifying `0` as the duration for the `auditTime` call won't see events handled synchronously.

Internally, `auditTime` is uses `audit` with a duration selector that returns a `tim

[2018-04-05 09:10] d3lm commented on #8
@reppners This should now be fixed. Also, the `select-container` can now be scrollable as well. This wasn't possible before. After the refactoring and rework of the positioning of the select box this should now be possible.

Travis is green and the code is deployed to [GitHub Pages](https://d3lm.github.io/ngx-drag-to-select/). Can you verify that it works as expected?

Note: It's not yet published

[2018-04-05 09:30] reppners commented on #8
Thanks for your effort :)

It's close, but Safari does not yet wanna play. I recorded it because its hard to describe in detail.

Safari 11.1
![drag-to-select-screencap-safari11_1](https://user-images.githubusercontent.com/3855704/38357972-5a06c5de-38c4-11e8-8921-f9c6871e459a.gif)

Chrome 65
![drag-to-select-screencap_chrome65](https://user-images.githubusercontent.com/3855704/38357908-245cee0e-38

[2018-04-05 10:32] d3lm commented on #8
Ok so in Chrome and Firefox, both latest, it works for me. I have to investigate why the selection box is so much off in Safari. Is it the screen recording or why does it lag so much for you? For me it's quite smooth and also performance audits and recordings show that the FPS are relatively high, on average 59 FPS.

Scrolling when you come close to the viewport is a feature that must be implement

[2018-04-05 10:39] reppners commented on #8
Yes, it's just the recording. The only thing you can notice is, that on Chrome and Firefox the selection rectangle does not immediately follow the mouse pointer when scrolling. There's some event that makes it readjust to the mouse-pointer after scrolling but it I don't know what exactly triggers the readjust.

Agree, it's a nice-to-have - I'd argue that how it behaves now regarding automatic scro

[2018-04-05 10:53] d3lm commented on #8
Yes that is intentional. I am not listening for scroll events to update the selection box. That would probably have noticable impact on the performance but I am just guessing so. You have to move the mouse after scrolling.

Not sure if you really want to scroll. After all, you have the keyboard shortcuts to add elements to the selection. But I get it that scrolling is convenient.

True. People are

[2018-04-05 10:53] d3lm commented on #8
Just landed a fix for Safari. Can you verify that it works properly now across all browsers?

[2018-04-05 11:49] KwintenP commented on #9
Hi Nicholas,

I think my explanation was not 100% clear. What you are describing is 100% correct AFAIK.
My scenario was a little different though:

Let's take the following code:

[code]

For simplicity sake, lets assume the browser has just done a repaint and will again in 16ms when this code starts. The interval will, before the `requestAnimationFrame` fires again, emit 15 values. All these 15 v

[2018-04-05 12:36] reppners commented on #8
Works like a charm now! Thx for your effort :) 👍

[2018-04-05 13:14] d3lm commented on #8
My pleasure! I'll cut a release and publish this on npm too.

[2018-04-05 13:46] d3lm commented on #8
Fixed in [v1.0.5](https://www.npmjs.com/package/ngx-drag-to-select).

[2018-04-05 13:46] #8 closed

[2018-04-05 13:57] d3lm opened #10 "BoundingClientRect not initialized"
The `boundingClientRect` for both `SelectContainerComponent` and `SelectItemDirective` is not initialized first and only gets calculated when either the window was resized or the user scrolls either in the container or on the page.

[2018-04-05 14:06] d3lm commented on #10
Fixed in 8c9b0912a03d82a91e2130109fc3301d806c6329.

[2018-04-05 14:08] #10 closed

[2018-04-05 18:40] d3lm opened #11 "Add conventional-changelog for automatic changelog generation"
https://github.com/conventional-changelog/conventional-changelog

[2018-04-05 20:00] KwintenP commented on #9
Nicholas, you are completely right :).

I looked at the code snippet you referenced and now I get it. I misinterpreted how auditTime works. I thought that if you did fe `auditTime(10, animationFrame)` it would wait 10ms and after 10ms schedule the last event on the `animationFrame`. While in reality it uses the `animationFrame` in the `durationSelector`. Hence my confusion with the multiple events

[2018-04-05 23:12] cartant commented on #9
@d3lm I've not given it too much thought, but I don't see the harm of using the animation frame scheduler. It's the fact that you chose 16 milliseconds that suggests `requestAnimationFrame` is appropriate. The scheduler is, after all, just a timing mechanism.

@d3lm and @KwintenP One thing that you should do though, is use `observeOn` instead of `subscribeOn`. The latter only runs the subscription

[2018-04-06 15:40] d3lm opened #12 "Add mobile features"
It would be great to have dedicated inputs for the `select-container` to enable a _select mode_. This mode behaves very similar to the `toggleSingleItem` shortcut where you can add or remove single items to or from the selection. The difference here is that the user doesn't have to press a shortcut to activate this mode, which wouldn't work on mobile anyways. Hence, a property to enable such mode.

[2018-04-06 15:43] #12 closed

[2018-04-06 19:33] d3lm opened #13 "Make the demo app responsive"
For smartphones and tablets (not including the iPad Pro as it is huge) hide the Desktop Demo and only show the mobile version.

[2018-04-06 19:36] #13 closed

[2018-04-07 06:56] d3lm opened #14 "Optimize performance"
As I found, this library is already very fast and with two instances on the same page I get roughly 59 FPS on average. So rendering seems to be quite good. Yet it needs to be investigated where to use micro optimizations such as the `animationFrame` scheduler as discussed in #9.

Additionally, research is needed where to run things outside of the zone to reduce unnecessary change detection phases.

[2018-04-07 09:10] tdeschryver commented on #3
Ok if I grab this one?

[2018-04-07 11:39] tdeschryver commented on #3
Unfortunately I do not have have the experience of maintaining a 3rd party lib, so I'm not 100% sure of how to do this. To be honest I wanted to take a look at the code and thought this issue would be a win-win :smile:

What about creating a branch (based of master) for bug fixes for Angular 5 and to use master for new features and the upgrade of Angular (and potentially bug fixes)?
Next time we c

[2018-04-07 11:52] d3lm commented on #3
Yep, that's what I figured. But then I'd have to maintain two versions :smile: But I think this is the only way of upgrading the lib to v6.

Yes, AFAIK Angular Material does it like that too. They use `master` as the most recent version and other branches for older versions. But please correct me if I am wrong.

[2018-04-07 12:12] tdeschryver commented on #3
If I'm not mistaken I believe the NgRx team is looking into (or already setting up) their repo to handle multiple versions, fyi

[2018-04-07 14:11] d3lm commented on #3
If you want you can look into upgrading the lib. Would love to see your PR! Good opportunity for you to go through the code. Let me know if you have any questions or encounter anything that can be improved. There's prolly a lot. I learned to do iterations and just get something out ASAP.

[2018-04-09 13:54] d3lm commented on #3
So, it seems that some people still need the v5 version... so maybe we have to go with two versions after all.

[2018-04-11 10:49] tdeschryver commented on #2
Did you have a specific framework in mind for the e2e tests?

[2018-04-11 13:09] d3lm commented on #2
Yes, I wanted to use [Cypress](https://www.cypress.io/).

[2018-04-11 21:04] StartSWest opened #17 "allow using class instead of a directive to mark and item as [selectItem]"
Allow using class instead of a directive to mark and item as [selectItem] since it will not work with runtime instantiated items. i.e. creating a component at runtime will not allow to attach a directive or it will not render the directive properly.

[2018-04-12 08:00] d3lm commented on #17
Can you please elaborate a little bit more what exactly you mean? Maybe you can describe exactly what's missing with the current implementation or APIs. It's always good to provide code snippets, better yet runnable demo, to show limitations or bugs.

[2018-04-12 11:55] tdeschryver commented on #2
I would like to help with this one 😄

I would suggest to do this in two steps:
  1) setup cypress (and discuss the setup)
  2) create the tests

Would it also be better to wait till #16 is OK?

[2018-04-12 14:58] d3lm commented on #2
Cool that you are super keen to help on this one too! Happy to see your contributions.

So I am wondering how far we get with e2e tests. It's difficult to test the different configurations, especially overriding the default configs. There's only one demo app and that app uses the defaults. I am wondering if it made more sense to test all that with unit tests. With a unit test you can create dedica

[2018-04-12 15:03] d3lm commented on #2
And then, if we write more unit tests then e2e tests I was thinking if it made sense to use Cypress and to all the work to set it up and get rid of the protractor stuff.

I don't think so, as the functionality should stay the same, even if it uses Angular v6.

[2018-04-13 06:07] tdeschryver commented on #2
Yea you're completely right. I I just wanted to try out cypress 😅
I haven't written a lot of angular tests, if you're OK with reviewing them I can add some incrementally.

[2018-04-13 10:06] d3lm commented on #2
@tdeschryver For your information, I am already on it to write unit tests. If you want you can look into e2e tests with the default stack, meaning protractor. Please abstract things away using `PageObjects`.

[2018-04-13 13:35] d3lm commented on #2
Ok, I started to write e2e tests now using Cypress.

[2018-04-25 19:58] d3lm commented on #2
Tests have landed with 54c7ffae718767a0c9089b2f53e68e4110ad21ba.

@tdeschryver You can have a look and give feedback if you want.

[2018-04-25 19:58] #2 closed

[2018-04-25 20:00] d3lm commented on #3
Now that tests have landed, do you mind do rebase your PR on the latest master? I also suggest to wait for this whole thing until Angular v6 has been released.

[2018-04-26 09:05] tdeschryver commented on #3
No problemo, I was waiting for v6 like you suggested 😄

[2018-05-14 09:28] d3lm commented on #17
Closed due to inactivity.

[2018-05-28 19:25] SlimDogs opened #20 "Doesn't work with latest angular + CLI"
Throws errors related to RxJS... Can we expect any update soon?

[2018-07-05 08:00] HarshaVardhanPVK commented on #20
Hi @d3lm, is there any update on support for Angular 6?

[2018-07-05 10:59] d3lm commented on #20
Hey @HarshaVardhanPVK, yes there are a few bug fixes in the pipeline and once the PRs were merged I will take care of reviewing and merging the PR that upgrades the library to Angular v6. This will happen shortly within the next week or two probably.

[2018-07-05 15:51] d3lm commented on #20
Just a quick status update here, I have took another look at the open PR and added a few comments there. Once those are addressed and the PR are merged, we'll continue with upgrading the library to Angular v6. Hang in there for a couple more days.

[2018-07-06 05:03] HarshaVardhanPVK commented on #20
ok, thanq for update @d3lm

[2018-07-16 09:43] chrisism opened #31 "Issues with webpack loading the library"
I am trying to use the library and I have added it to a feature module. I am using lazy loading, but this module is directly loaded. I am also using webpack (4) as my packager.

So I followed the guides and added the module import. Now when I start the webapp I get the following errors:
``
platform.es5.js:79 Uncaught TypeError: Object(...) is not a function
    at platform.es5.js:79
    at Object.

[2018-07-16 10:06] chrisism commented on #31
Okay. Easy solution, it automatically got @angular/cdk v6 and we needed v5.
Fixed by getting correct version.

Is there maybe an option we can do it without the hard cdk dependency?

[2018-07-16 10:06] #31 closed

[2018-07-16 10:14] timdeschryver commented on #31
We've removed the CDK dependency in the latest version, but this version hasn't been released yet.

[2018-07-16 12:00] jreijt commented on #20
Hi, any updates on Angular 6 support?

[2018-07-16 12:35] timdeschryver commented on #20
@jreijt there is a PR open (#30).
I think once this one lands, we'll be close to a release.

[2018-07-19 08:08] d3lm commented on #20
Quick heads up, we are getting **really** close to a new major relaese. There are only two minor things left in #30, and once they are taken care of, we can merge the PR and cut a new release.

[2018-07-19 08:39] d3lm opened #32 "Find good prefix for the the components and directives"
We should find a good prefix that we can use for both the `select-container` component and `select-item` directive. So far it uses `ngx-select-container` and `selectItem` for the directive. For one, this is not really consistent, and second, it's hard to distinguish an `ngx` prefix from components from other libraries. It would be great if we found a unique prefix specifically for this library so

[2018-07-19 08:42] d3lm commented on #20
I have created a [milestone](https://github.com/d3lm/ngx-drag-to-select/milestone/1) for the 2.0 release which will contain a few bug fixes and new features as well as the upgrade to Angular 6.

[2018-07-21 16:42] d3lm commented on #20
Here's a PR (#33) that prepares the lib for a 2.0 release. The lib has already been upgraded to Angular 6, thanks to @timdeschryver 👏 Once this lands I'll cut the release and publish it on NPM. This means you guys can use the lib with the latest CLI and you benefit from bug fixes and new feature releases.

[2018-07-21 16:45] d3lm commented on #3
This has landed with #30 🎉

[2018-07-21 16:45] #3 closed

[2018-07-22 10:42] #32 closed

[2018-07-22 13:00] d3lm commented on #20
ngx-drag-to-select 2.0.0 is now published and available on [NPM](https://www.npmjs.com/package/ngx-drag-to-select) 🎉. The StackBlitz was also updated, if you like to fiddle with it. It now uses Angular `^6.0.0` and ngx-drag-to-select `^2.0.0`.

As part of the release, I'll close this one. If you find any bugs or run into problems with the latest release, feel free to open an issue.

[2018-07-22 13:00] #20 closed

[2018-07-22 13:03] #11 closed

[2018-07-23 11:24] Duogn opened #34 "How to use it with Angular 5"
Hello I have a angular 5 project, how to use ngx-drag-to-select?

[2018-07-23 11:38] timdeschryver commented on #34
Hi, you can install version 1.1.1 which supports Angular 5.
[code]

[2018-07-23 12:58] d3lm commented on #34
Exactly, you could install 1.1.1 as mentioned by @timdeschryver. However, I would suggest that you try to keep on the latest Angular version if possible. There is no separate branch for Angular 5 for this library and we will continue to support the latest Angular version and all other versions will unfortunately not receive bug fixes nor new features.

[2018-07-23 20:11] sam-lex opened #35 "Suggestion regarding outputs"
Hello, thanks for this awesome lib, works perfectly!

I've encountered 1 "challenge" when using this:

I can't get the items from a "add/remove-selection", the only data I can get is the current `selectedItems`. We could do comparisons and get what was added/removed.
But the problem is that it's not possible to get all items in the "remove-selection" (items that were not already in the selectedIte

[2018-07-24 03:34] Duogn commented on #34
Thanks

[2018-07-24 03:34] #34 closed

[2018-07-24 07:10] d3lm commented on #34
You're welcome! Let me know if we can help you with anything or any issues you may encounter.

[2018-07-24 07:20] d3lm commented on #35
Hey @sam-lex, glad you like the lib!

So do I understand correct that when I select items you not only want to get the entire list but also the different, meaning the items that were added / removed once the selection is done? For example:

Selectable items: [1,2,3,4,5,6]
selectedItems: [1]

Now you press a shortcut to extend your selection and select 2,3,4
selectedItems: [1,2,3,4]

In your scenar

[2018-07-24 15:49] sam-lex commented on #35
Hi @d3lm, thanks for the reply!

Yes, that's more or less what I want, but not just the difference.
For example:
[code]

The reason is because in my case, the selection is persisted somewhere else, normal selection should be additive by default.
One way to solve this would be to create another list that reflects the persisted selection, but this would only solve normal and additive selections, I'd

[2018-07-24 15:54] sam-lex commented on #35
Here's my workaround:
The detailed version is way too long, so I'll just write the logic here:
-> Make default selection: add
-> Make additive selection: remove

1. create dummy selectable item, I call it `#dtsVoid`
[code]
2. keep selected items initialized like so: `[ dtsVoid ]`
[code]
3. handle selection
[code]

This is working ok but quite ugly, tonight I'll try checking whether Shift key was p

[2018-07-24 16:39] timdeschryver commented on #35
I think your use case is a bit too specific to put into this lib?
What about just adding a `onSelect` (name to be determined) when an item gets activated (clicked, dragged, select all, ...), with this you can add the logic you need for your case and if someone else wants to do it a bit different e.g. in your example `performing difference with old data would get you only [6, 7]`, he/she can implem

[2018-07-24 18:38] sam-lex commented on #35
yes, `@Output() onSelect = new EventEmitter<any>()` would be great!
Having the new output would make my code cleaner, but that being said, I just got a solution that I'm satisfied with.

So this issue can be closed, unless you'd like to discuss more about it, because in this new solution I make use of `container.selectBoxStyles$`, even though it is public, it is not in the documentation, so I feel

[2018-07-24 18:51] timdeschryver commented on #35
@sam-lex while that may work, I would suggest not to do this.
Because the code is coupled to the styling, meaning if we would change the opacity your code will break.

[2018-07-24 19:46] d3lm commented on #35
I would also agree that this use case is a little too specific to be implemented in this lib. An output could however make sense for each `dtsSelectItem`, emiting a value when it was selected or deselected.

@sam-lex I would advice against using internal APIs as they might change in the future and that would totally break your code. Just renaming the stream would break your code while not breaking

[2018-07-24 20:48] sam-lex commented on #35
oh I see... thanks for the suggestions

I've just successfully replaced `selectBoxStyles$` with `mouseDown + mouseMove` to detect selection like so:

[code]
[code]

I couldn't attach `#dtsContainerHost` on the `dts-select-container` directly, so I'm attaching it to the parent above it, and works fine.

I've also noticed that there's `SelectContainerComponent.host`, which could be used as well, but

[2018-07-25 05:53] timdeschryver commented on #35
So it boils down to knowing when something was selected and deselected and knowing when the dragging starts?

For the select output I would suggest:

Action                 Output
Click item 1       ->  { item: item1, selected }
Click item 1       ->  { item: item1, selected }
Click item 2       ->  { item: item2, selected }
Ctrl Click item 2  ->  { item: item2, deselected }
Ctrl Click item 2  ->

[2018-07-25 06:58] d3lm commented on #35
Yes, I would agree. Having an output on the `dtsSelectItem` that emits whenever the item got selected or deselected is a good idea. Also find it useful for users to know when dragging starts and ends. So we could introduce another output on the `dts-select-container`. That should give you enough flexibility to implement whatever you like to find which items where added or removed in a single selec

[2018-07-25 11:40] jreijt opened #36 "Drag rectangle doesn't take into consideration page scrolling."
This is a bit hard to explain and I can't really provide screenshots for it, but here it goes.

Case 1:
Dragging while the page is scrolled to top.
Expected behavior: Rectangle starts where mouse clicks and drags where the mouse goes.
Actual behavior: Same as expected (Y)

Case 2:
Dragging while the page is scrolled.
Reproduction steps:

1. Scroll down a bit
2. Try to drag.

Expected behavior: Rec

[2018-07-25 12:11] d3lm commented on #36
Hey @jreijt, thanks for opening up this issue!

It's a little hard to follow. Maybe you can provide a GIF or a record your screen to see what is not behaving as expected. Would be awesome if you could elaborate a little bit more on this.

Dragging while scrolling works as expected for me, if I understood you correctly.

![dragging_scrolling](https://user-images.githubusercontent.com/12571019/43200

[2018-07-25 12:33] d3lm commented on #36
Ah I think I now got it what you mean. You mean that items are not selected while dragging and scrolling. You have to move the mouse in order to select items, is that right?

[2018-07-25 12:34] jreijt commented on #36
Yeah GIF looks like the way to go for this one.

So here's the first case, dragging before scrolling (which works fine).
![case 1](https://user-images.githubusercontent.com/25050560/43200683-f8368058-901e-11e8-8c19-a8f19b394824.gif)

When I scroll down and try to drag, the start point of the rectangle doesn't fall on the mouse.
![case2](https://user-images.githubusercontent.com/25050560/43200850-8

[2018-07-25 12:47] d3lm commented on #36
Yes, moving the cursor to the edges of your screen will not scroll the window. This is not _yet_ implemented but planned at some point.

On your GIF, it's hard to tell what is going wrong there. It seems that the bounding rects are not correctly calculated in your case or the initial mouse position is wrong. How many levels of nesting do you have? Can you provide a minimalistic reproducable on Sta

[2018-07-25 12:56] sam-lex commented on #36
I had this issue too, but solved by calling `SelectContainerComponent.update()` when scrolling
[code]
[code]

Dragging + Scrolling at the same time works well too...
If you do use `debounceTime`, you might see a slight delay for the selection box to "catch up" to your mouse cursor when scrolling. It was necessary for me to use it because I needed different divs to sync their scrollbars, and withou

[2018-07-25 13:32] d3lm commented on #36
@sam-lex Did you have the same problem that when dragging and scrolling items were not selected, or what do you mean?

I could think of one solution that would be quite generic and it could tackle 90% of the apps. It would be to listen for scroll events on the `body` and trigger the selection logic here too. But this would not solve the problem of having multiple nested scrollable containers and t

[2018-07-25 13:56] jreijt commented on #36
@sam-lex Thank you so much! That's exactly what I needed.

@d3lm  The update on scroll did indeed the problem I was having with the rectangle location. To have it be a little more specific I can also make it so only the `select-container` that's expanded updates on scroll. I'm thinking this should be mentioned somewhere on your page though. A lot of cases I can think of in Angular where I'd use dr

[2018-07-25 13:57] sam-lex commented on #36
Yes, I had a my `select-container` inside a scrollable div, and the results were exactly the same as @jreijt 2nd Gif.
basically from what I understand is this:
you scroll down say `50px`
start select-drag at `(100, 100 ) px`
The rectangle box will start drawing from `(100, 100)`
but since you scrolled down `50px`, it should draw from `(100, 150)px`

[2018-07-25 14:11] sam-lex commented on #36
I don't know how this could be solved gracefully through the lib though, take this scenario for example:
nested scrollable div with `height: 30vh`
you start select-dragging, and move past the edge of your nested-div, what should happen?
- auto-scroll?
- if not auto-scroll, then should the selectBox stop at the edge? or continue through "inside" what's overflown?

[2018-07-25 14:39] d3lm commented on #36
@jreijt Totally, this needs to go into the docs. Very good point! The lib only accounts for the body to be scrolled (document) and the `dts-select-container` itself. For any other element that is scrollable which wraps the select-container, the consumer needs to take care of calling `update` which will recalculate the positions of all selectable items and the select container itself. This is requi

[2018-07-25 14:41] d3lm opened #37 "Info about nested scrollable containers"
Add small section about dealing with nested scrollable containers and mention that the consumer of this lib has to call `update` themselves if you have nested wrappers, other than the body and the `select-container` itself, that are scrollable.

[2018-07-25 14:43] d3lm commented on #36
Closing this as it can be solved with the APIs available and there will be an info in the docs once #37 is implemented.

[2018-07-25 14:43] #36 closed

[2018-07-25 14:47] d3lm commented on #36
BTW, for what it's worth, it's super cool to see what you folks are using this lib for. This makes me extremely happy. Thanks a bunch for using it for your apps 👍🙌

[2018-07-25 14:58] sam-lex commented on #36
@d3lm I like the idea of using inputs, it keeps the component flexible and customizable.
I don't know the solution for this one either, but here's an idea:
`@Input hostContainer` (name to be determined)
when this input is defined, the lib will use this container to base its mouse/scroll positions

if this works, I think it'd be necessary to solve the issue of "dragging to the edge", should it stop

[2018-07-25 15:12] d3lm commented on #36
I would say it doesn't stop at the edges. It just continues until the `hostContainer` cannot be scrolled any further. Just thinking out loud here.

[2018-07-25 15:19] d3lm commented on #36
@jreijt @sam-lex Would be great to get your feedback on this [PR](https://github.com/d3lm/ngx-drag-to-select/pull/38) for the FAQ section. Does this answer the question on how to deal with this scenario?

[2018-07-25 17:07] #37 closed

[2018-07-25 17:17] jreijt commented on #36
@d3lm Looks good mate. Great work on the lib btw.

[2018-07-25 18:14] d3lm commented on #36
Thanks @jreijt, means a lot to me!

[2018-07-26 05:34] d3lm opened #39 "Upgrade to Angular 6.1"

[2018-07-26 06:09] timdeschryver commented on #39
Woop!
Should be a clean update normally.

[2018-07-26 18:02] timdeschryver commented on #39
Yea, I suppose it would.

[2018-08-15 12:44] d3lm opened #40 "Upgrade to Cypress 3.1"
Cypress 3.1 introduces parallelization with `cypress run --parallel`. This works across multiple CI machines.

We should upgrade Cypress and also enable multiple CI machines to execute the tests in parallel on Travis. Travis supports up to 4 machines on a free plan.

[2018-08-17 04:29] d3lm opened #41 "Change cy-data attributes to data-cy"

[2018-08-17 04:57] pmareke commented on #41
I would like to help! I was taking a look at the report and it is just replace the old attributes right?

[2018-08-17 07:57] d3lm commented on #41
Yep, changing the attributes and also update the tests accordingly. But I have created a command to get elements by these _test-attributes_ so you only need to change that command and all tests should pass again.

[2018-08-17 15:37] #41 closed

[2018-08-20 15:04] d3lm opened #45 "Create schematic to scaffold a basic setup"

[2018-09-11 20:26] seranus opened #46 "Feature request: add method to toggle selected item"
I need to add a specific set of items to selection based on their id. Later I use selected items for drag and drop.

[2018-09-12 08:11] d3lm commented on #46
Hey @seranus, thanks for submitting this feature request!

Do I understand correctly that you need a way to toggle single items programatically?

One possible solution to this would be to introduce a function `select` on the `SelectContainer` that accepts a list of `SelectItemDirective` instances. The consumer of this lib would need to query the items that he wants to select and pass them to `sele

[2018-09-12 08:54] timdeschryver commented on #46
Personally I don't like to make a templateRef and do `container.select()` in my code, but I think this would be the best solution you suggested @d3lm and this is also similar to what @seranus proposes.

I was thinking, but I don't know if this is a good solution or not, to add a `selected` property on `dtsSelectItem`. This can be confusing because you wouldn't need `selectedItems` anymore, the use

[2018-09-12 09:03] d3lm commented on #46
@timdeschryver Thanks for your reply!

Yes I can see where you're going with this and I like it. But this means a huge breaking change and if maintaining a list of selected items is such a common thing, which it is, I think the library can take care of this. The user can always maintain their own state / list if needed.

I also think that getting a reference to the select container to call `select

[2018-09-12 09:26] timdeschryver commented on #46
Would this mean that user has to work with `SelectItemDirective`?

Internally we'll have to but, what about something like the following:

[code]

[2018-09-12 10:11] d3lm commented on #46
That's an interesting idea! So basically the `select` method takes in a predicate and internally we loop over all select items and get the value. We would then filter out the items that need to be selected and finally we select all those items.

I like this idea very much!

[2018-09-12 15:02] d3lm commented on #46
Would this work for you @seranus?

[2018-09-12 21:55] seranus commented on #46
Sure as long as you expose the function to manually select I can work with anything, I don't need it atm but don't forget to also add unselect

[2018-09-13 07:33] vitaliy-bobrov commented on #45
I want to work on implementation.

Below my thoughts about what `ng add ngx-drag-to-select` should do:
1. Add `ngx-drag-to-select` and install it via default package manager (npm/yarn). It could be disabled via `skipPackageJson` boolean option.
2. Add styles. I'm thinking about having an option like `styles` with 2 possible values: `default` (or `css` and it should be default value) and `scss`.
`d

[2018-09-13 10:05] vitaliy-bobrov commented on #14
It is possible to use `{passive: true}` option for events like `resize`/`scroll` to improve performance - [info](https://github.com/WICG/EventListenerOptions/blob/gh-pages/explainer.md)

Event empty (`() => {}`) non-passive listener on `scroll` event creates page perf overhead.

[2018-09-13 12:39] d3lm commented on #14
Yes indeed, I also looked into this once. This is definitely an optimization that can / should be added.

[2018-09-13 12:40] d3lm commented on #14
@vitaliy-bobrov Mind sending in a PR?

[2018-09-20 12:40] seranus commented on #46
@d3lm hi, I'd appreciate if you could give me an update on the state of this request

[2018-09-20 15:53] d3lm commented on #46
@seranus I haven't had the time to work on this. I am happy to review a PR. I can try to work on this over the weekend. I'll have some spare time that I can dedicate to work on some open issues. I ll keep you posted. Or as I said, you could send in a PR too. I would really appreciate any help that I can get.

[2018-09-24 19:43] d3lm commented on #46
PR #50 addresses this feature.

[2018-09-25 05:57] d3lm commented on #39
Addressed in #49.

[2018-09-25 09:53] d3lm commented on #35
Addressed in #51.

For more outputs on the `SelectContainerComponent` please open a new issue if needed. This probably needs some discussion on when e.g. `dragStart` and `dragEnd` should emit. I don't want to unnecessarily blow up the API of this library. So if you have a valid use case and maybe already a spec in mind how this could work, create an issue and we can continue from there.

[2018-09-25 09:53] d3lm commented on #35
@sam-lex Mind to take a look at the PR if this solves your problem? If not, please leave a comment on what is missing.

[2018-09-25 13:51] sam-lex commented on #35
@d3lm Hi, PR looks great! 👍

As for `dragStart`/`dragEnd`, not really necessary I think. I'm using it only to display an overlay when selecting to avoid triggering class changes on my selectable items (tooltips.. popups, etc. which made it buggy - tooltips not closing properly).
I solved it with `mouseDown` + `mouseMove`, this might be specific to my case only.

[2018-09-25 14:16] sam-lex opened #52 "Multiple styles"
Hello, right now is only possible to have one styling configuration (based on the docs):
https://github.com/d3lm/ngx-drag-to-select#overriding-sass-variables
[code]

I'm wondering if it would be possible to have multiple styles, for example:
normal selection: blue box
remove selection: red box

I've managed to do it like so:

style.scss
[code]
html
[code]
ts
[code]

With this, I can have a selecti

[2018-09-25 17:32] d3lm commented on #35
Ok sweet!

[2018-09-25 17:32] d3lm commented on #35
Once the PRs land I ll cut a new release so you can upgrade to the latest version to use all the new features :tada:

[2018-09-25 17:51] d3lm commented on #52
Hey @sam-lex, thanks again for creating this issue. This is always a great way to disucss new features.

I totally get your reasoning and I actually like the idea of using different colors for different selection modes. I think your implementation is totally valid and it's great to see how you tackle these kind of scenarios. Also that these things are possible with the APIs available.

I am not su

[2018-09-25 17:55] #39 closed

[2018-09-25 17:56] d3lm commented on #45
@vitaliy-bobrov Any news on this one? Do you still feel like working on it?

[2018-09-25 18:28] #46 closed

[2018-09-26 17:47] vitaliy-bobrov commented on #45
@d3lm , sorry for delays, I've started some work, but have a lack of time right now due to the new project. So if somebody wants to take it right now, he could. If no I hope to proceed with it during the weekend

[2018-09-26 19:39] d3lm commented on #45
No worries @vitaliy-bobrov, I can totally understand that. Right now there is no one that I know of that, besides you, that would want to work on this issue. It would be really cool if we could do this together or so, so I can learn from it as well.

[2018-09-27 12:36] #35 closed

[2018-10-02 13:51] RihamHazem opened #53 "Disabling select with right click"
How can I disable select items with right click and enable it just for left click or drag?

[2018-10-02 14:00] timdeschryver commented on #52
I agree with you @d3lm.
I think having `.dts-adding` and `.dts-removing` is easier to use, but adding outputs will be more flexible and could be used for more customizations from the user's point.

[2018-10-02 14:04] timdeschryver commented on #53
I think this isn't possible with the current API, correct me if I'm wrong @d3lm - see [container.component.ts#L156](https://github.com/d3lm/ngx-drag-to-select/blob/master/projects/ngx-drag-to-select/src/lib/select-container.component.ts#L156).

I also find it a bit strange that it's possible to click and drag with the right mouse button. Was this by design @d3lm ? If not, it's a simple fix; otherw

[2018-10-04 06:51] d3lm commented on #53
Hey @RihamHazem, thank you for filing this issue! Being able to click and drag with the right mouse button was not by design. I think as @timdeschryver suggested we could either "fix" this or make it customizable.

Right now I don't really see the need to make it customizable and using the right mouse button for selecting is also very uncommon.

What do you think?

[2018-10-04 06:53] d3lm commented on #52
Maybe add both? The drawback here would be size. If we add both than we also make the library heavier as more and more APIs are being added.

[2018-10-07 14:42] #53 closed

[2018-10-23 13:17] d3lm commented on #52
Once #56 lands, there will be two classes added to the select box - `dts-adding` and `dts-removing`. These classes can then be used to style the select box depending on the selection mode.

[2018-10-31 12:50] d3lm opened #57 "Upgrade to Angular 7"
Now that Angular 7.x is out we should upgrade to the latest version. This should be pretty straight forward using the Angular CLI. Plus, there are no breaking changes.

[2018-11-02 09:47] d3lm commented on #57
Fixed with #58. Thanks again @markgoho for the PR!

[2018-11-02 09:47] #57 closed

[2018-11-02 09:47] d3lm commented on #45
@vitaliy-bobrov Any news on this one? Are you still up for adding a basic schematic?

[2018-11-05 13:12] EduardsE opened #60 "Clash with ngx-drag-n-drop package"
For a project I'm working on, I'm using both this and ngx-drag-n-drop package. And finally, I've run into some issue where both packages clash.

The provided gif kinda explains the issue. When dragging an item to an area, drag to select also starts to silently drag. On item drag start event, I've tried to set both `disable` and `disableDrag` properties as true, which seems to work, but after dropp

[2018-11-06 16:02] d3lm commented on #60
@EduardsE Hey there, thanks a lot for filing this issue and for trying out this lib. Would you mind to provide a minimal reproducable so I can take a look and debug the issue?

[2018-11-07 09:59] d3lm commented on #60
Nice, glad to hear that you solved it for your case. I also agree that this is a very specific issue and arises when using both of those libraries are used. But I ll have a look and see if I can solve it in a way that it would work together with the drag and drop lib.

[2018-12-19 16:55] toddhd opened #61 "Select event does not fire when using shift to select multiple areas"
This is pretty simple to demonstrate. Go to the DEMO page here:
https://d3lm.github.io/ngx-drag-to-select/

Scroll down to the test area and make sure that you can see the META section that will show you which objects are selected.

Hold down the SHIFT key and select some items. You will see the items highlight that are selected, but the META section shows that no items are selected at all.

[2018-12-19 17:12] d3lm commented on #61
Hey @toddhd, this is actually the expected behavior. The shift key is basically a "temporary add" so the items you select when holding down shift will only be selected when you release the mouse button. The same goes for Shift + CTRL for temporarily removing items. Same here, the items are only removed when you release the mouse button.

But, I am figuring that even when the mouse button is releas

[2018-12-19 17:14] d3lm commented on #61
So I have tested this on Mac as well, and there it seems to work... I am investigating what the differences are.

[2018-12-19 17:30] toddhd commented on #61
What I expected was one of two situations. Either onSelect() would fire each time you lift your finger off the mouse button (as you described) or that it would fire once you released the SHIFT key (which is what I expected, as that would indicate that all of your selections are done). Either would work for my needs.

I am creating a schedule component that allows the user to drag across a "calenda

[2018-12-19 17:31] toddhd commented on #61
Thank you for the quick reply and investigation by the way, I can't believe you answered so quicly! :)

[2018-12-19 17:33] d3lm commented on #61
Hehe, I am definitely dedicated to fix incoming issues. And this seems to be a big one... I am wondering why this works on Mac but not on a Windows. Which OS are you using? It also doesn't seem to be related to the browser, cause Firefox on Mac works as expected... super strange.

[2018-12-19 17:38] toddhd commented on #61
I am working on Windows 10. Chrome is my main browser but I am testing in FireFox at the moment. Everything (OS, browsers) is up to date. Appreciate the help.

[2018-12-19 17:40] d3lm commented on #61
Ok, good to know. Very interesting. This is really hard to reproduce and to verify for me on a Mac. Cause it works as expected... I also have a Windows but that's not my dev machine. There it's broken.

[2018-12-19 17:43] d3lm commented on #61
This is how it works on Mac, and this is also how it's supposed to be working.

![selection_on_mac](https://user-images.githubusercontent.com/12571019/50237692-d47a5500-03bd-11e9-870c-a8fb97e167f8.gif)

Still trying to figure out how I can reproduce this on my dev machine...

[2018-12-19 17:46] toddhd commented on #61
Do you happen to have Firefox or Chrome on OSX? Does it work in those browsers in OSX?

What are you using for the selection capability? Are you using Angular's built-in select, or custom code? Maybe the problem is in their logic, if it is a third-party selection routine...

[2018-12-19 17:48] d3lm commented on #61
So I am mainly using Chrome but I have also tested the app (latest version) in Firefox and Safari. All browsers seem to work on my machine.

Everything is basically custom code for selecting those items 🤔

[2018-12-19 17:50] toddhd commented on #61
Very strange. You would think that FF and Chrome would work basically the same regardless of OS on a PC. Maybe it's a keyup/keydown issue?

[2018-12-19 17:52] d3lm commented on #61
Yea I would assume that the browsers work the same regardless of the OS. So it must be something regarding the OS I assume...

[2018-12-19 17:53] d3lm commented on #61
So if you roll back to `2.1.0` it should work again but there are a couple of bug fixes missing and also some minor features. But maybe that works for you in the meantime.

[2018-12-19 17:55] toddhd commented on #61
Thank you, I'll give that shot.

[2018-12-19 18:07] toddhd commented on #61
That seems to be working for now, just a quick smoke test. (Of course, like a dumb-ass, I had modified the CSS and forgot, and blew it away when I rolled back). I'll let you know when I get it put back together.

If I get a chance later, I'll see if I can get the source code and take a look on my machine. I'm not sure if you have a custom environment setup, but it's worth a shot.

Thanks again for

[2018-12-19 18:12] d3lm commented on #61
No not really a custom setup. You can just clone the repo and install the dependencies. I am doing the same as we speak on my Windows machine to see what's going on. I'll keep you posted.

[2018-12-19 18:18] d3lm commented on #61
BTW thank you very much for opening this issue. This is really a blocker as it doesn't work properly on Windows anymore.

[2018-12-19 22:04] #61 closed

[2018-12-19 22:10] d3lm commented on #61
So, I dug into this issue and I was able to pin point this to the keyboard events that apparently behave differently on Windows / Mac. This means that when you press a key and hold it pressed on Mac, the event is fired only once. On Windows this causes the event to be fired repeatedly. This was a problem because for every keyboard event, the temporary list of items (built up in any of the extended

[2018-12-19 22:13] d3lm commented on #61
Uhm ok, Travis is not happy and cannot deploy the new version. I am on it!

[2018-12-20 00:45] toddhd commented on #61
That appears to have worked! Thank you!

[2018-12-23 11:37] shyamal890 opened #62 "Shift to select Multiple Items at once"
Usecase:

1. Select first item.
2. Hold `Shift` button.
3. Select last item.
4. Release `Shift button`.

All of the in-between items should be selected.

[2018-12-23 12:43] d3lm commented on #62
Yep, great feature. The `shift` button is however taken already. We would have to find another key for this. Also, do you want to give it a try and send a PR? I am happy to review your code.

[2018-12-24 13:19] shyamal890 commented on #62
Shift button globally (excel, other apps) is being utilized to multi select items. So may be we can think about incorporating it for selecting all items in between.

[2018-12-24 19:11] shyamal890 opened #63 "[BUG] Wrong item being selected on scroll"
Checkout this example: https://stackblitz.com/edit/ngx-drag-to-select-scroll-error?file=src/app/core/ui/components/layout/layout.component.html

Scroll a little and try selecting an item in the 2nd row.

[2018-12-24 19:33] shyamal890 commented on #14
Serious performance issues as list grows.

[2018-12-24 20:30] toddhd opened #64 "Feature Request: Add OnSelectionComplete() event"
Hi -

I am using ngx-drag-select on a very large number of UI items (hundreds of elements). I need to process the items selected, but the process time takes a rather long time due to the number of objects involved.

The hurdle I'm facing is that currently, I am using the onSelect() event to put the code that does the processing, but since that changes often and rapidly as you drag to select, this

[2018-12-25 16:34] d3lm commented on #63
Thanks for the issue. This is not a bug actually. The documentation tells you how to deal with nested scrollable containers. The library only accounts for the container and / or the body as a scrollable container. If any other element is used to be the scrollable container you have to call `update` on the container component because the bounding boxes are not re-calculated.

Check out the [readme]

[2018-12-25 17:04] d3lm commented on #64
Hey @toddhd, thanks again for using my library and opening this feature request. This is indeed a useful feature and we were already thinking about adding such outputs to the container. I'll work on this in the next days and this will soon be available.

@timdeschryver What outputs do you think would be useful?

Maybe `dtsSelectionStarted`, `dtsSelectionEnded`, anything else?

[2018-12-25 17:06] d3lm commented on #62
Also, on a Mac you cannot select one, press shift, select another item and all items in between are selected, at least if you are not in the list view. I am not sure how Windows does this. I'd say this is not really common to have both behaviors on shift.

[2018-12-25 17:53] shyamal890 commented on #62
I find `shift` to select all items in-between more useful.

[2018-12-25 17:55] shyamal890 commented on #63
One simply cannot update the container on every scroll update right?! It wouldn't even work with `drag to select` as the drawing box would flicker.

[2018-12-25 18:03] d3lm commented on #64
There is now a PR #65 that introduces two new outputs - `selectionStarted` and `selectionEnded`. I think this should be enough for better and more efficient processing of the selected items.

@toddhd Do you think that this will do the trick in your case?

[2018-12-25 18:06] d3lm commented on #62
Well I think that really depends on the use case and might also be a personal preference. I am not sure if this should be the default though. Asking for input from @timdeschryver on this one.

One solution could be to have both but one of the behaviors is hidden behind a flag. So the way the lib handles selection right now would be the default and you could enable the proposed feature with a flag

[2018-12-25 18:06] d3lm commented on #62
Or maybe not a flag but specify the behavior in the config that is passed to the `DragToSelectModule`.

[2018-12-25 18:11] d3lm commented on #63
I think I cannot follow, do you mind elaborating? Also I am very open for alternatives if you have one.

The problem is that the selection is based on the client bounding rect of each selectable element and if you scroll, that bounding box changes. As I said, the lib listens for scroll events on the select-container and the body and takes those into account but no other elements as this would be v

[2018-12-25 18:15] shyamal890 commented on #63
It would be great to have something like `listenToClass` where the user can point to the container which the lib has to listen to for `size changes` or `scroll` events.

[2018-12-25 20:48] shyamal890 commented on #14
Setting `selectOnDrag` to `false` helped given there were some calculations happening on every select change which now only happen at `dragEnd`. I think by default `selectOnDrag` should be set to `false`.

[2018-12-25 20:52] shyamal890 opened #66 "Feature Request: Update bounding box on container resize event"

[2018-12-26 17:10] toddhd commented on #64
Thank you, yes please, that will be perfect

[2018-12-26 20:30] d3lm commented on #66
Thanks for the request. What is the reasoning behind this feature request? Every code that is added to this library makes it less lightweight. Not saying this feature is not worth it but I am just curious. I still want to keep this library as small and lightweight as possible. You can always listen for the `resize` event yourself and then call `update` on the container yourself.

[2018-12-28 07:02] shyamal890 commented on #63
Hey @d3lm when route changes and the list is refreshed, even after utilizing the `update` function the library somehow multiple selects items when only one item was clicked.

I am also seeing wrong item being selected on route change + refresh.

I would try and reproduce this issue in stackblitz but seems like stackblitz is down for now.

[2018-12-28 08:53] d3lm commented on #63
Please open a new issue for this and please provide a **minimal** reproducable.

[2018-12-28 12:05] shyamal890 opened #67 "[BUG] Clicking on an item doesn't select it"
https://stackblitz.com/edit/ngx-drag-to-select-errors?file=src/app/app.component.ts

- With `[selectOnDrag]="false"` click not selecting the items sometimes.

- From `Home` page go to `About` page and click on an item. If you try it a few times and look carefully, you would find that the drag box becomes visible for a short time over the 1st item.

[2018-12-28 12:54] d3lm commented on #67
Do you want to take a look at this? I would appreciate help 👍 So maybe you can clone the repo, run it locally and try to find the cause for this bug.

[2018-12-28 17:40] toddhd commented on #64
Yes and no. The event fires and that part "works", however it fires before
I'm done selecting. For example, if I hold down the shift key so that I can
select multiple objects in multiple locations, the event keeps firing in
between each selection even though I'm still holding down the shift key. My
expectation was that, when selecting multiple objects, that the
onSelectionEnded event would fire wh

[2018-12-28 17:49] d3lm commented on #64
Uh! That must be a regression then. I thought I had tested this thoroughly. My bad then... I ll work on a patch. So sorry!

[2018-12-28 17:51] d3lm commented on #64
But wait, what exactly do you mean? When I select one item and I hold down `shift` and select other items the `selectionEnded` event is only fired when I release the mouse button and not for every item that is emitted. Am I wrong?

[2018-12-28 17:58] toddhd commented on #64
https://www.youtube.com/watch?v=-J7D6K3MNz4

See above.

If I understand what you just wrote, you said, "the selectionEnded event is
only fired when I release the mouse button" which is what is happening,
however what I expected was, if I'm still holding down the shift key, then
releasing the mouse button would NOT fire the event UNTIL I release the
shift key. Because until I release the shift key

[2018-12-28 18:05] d3lm commented on #64
Thanks for the video! But this is exactly what happens, no? Only that the `selectionEnded` event is not triggered when releasing your `shift` key but instead when releasing the left mouse button. All your selected items are propagated along with the event and you can access the list through `$event`. The thing is that the mouse button basically dictates when the selection starts and when it ends.

[2018-12-28 18:13] timdeschryver commented on #64
I tend to agree with @d3lm, I'm not sure that what you're asking is possible.
A user could also do the following: `shift + drag, release shift, shift + drag` - this would also trigger the event twice.

The first thing that popped in my mind, would be to also emit the "active" shortcuts together with the selected items. I'm not sure if this would make sense tho.

I also think that if you want to be

[2018-12-28 18:16] toddhd commented on #64
Okay. I will make this work :) Thank you both for such a fast and friendly
response! I will follow this and see what new features and fixes come up.
Plus, I always seem to learn more when watching how other coders solve a
problem.

On Fri, Dec 28, 2018 at 10:13 AM Tim Deschryver <notifications@github.com>
wrote:

[2018-12-29 16:40] #67 closed

[2018-12-29 16:44] d3lm commented on #67
This is fixed in 3.1.1 which is now available on [npm](https://www.npmjs.com/package/ngx-drag-to-select).

[2018-12-30 19:56] toddhd opened #68 "Bounding box and resize bug"
I see there are a few issues related to this but since I'm seeing still, I figured I'd mention it. Please see the video for a demo and explanation. https://www.youtube.com/watch?v=BVthAyI8eYs

In a nutshell, when I first open the web page, the Bounding box is way off... it doesn't show up where I'm clicking and dragging. Doing anything that causes a resize (e.g. resize the window, press F12 to ope

[2018-12-31 08:06] d3lm commented on #68
Thanks Todd, for filing this issue. I am really happy that you're testing this lib extensively.

I have quickly tried to reproduce this on my machine (Mac, Firefox) but I can't really see the issue in action. Do you mind creating a minimal reproducable, like a [StackBlitz](https://stackblitz.com/) that shows the issue? From there I can then debug the problem and see what's causing it.

[2019-01-02 19:43] timdeschryver commented on #68
@toddhd do you load in the data in an `async` way, or is it all static data?
You could try calling the `update` method when you've rendered the data, this will do some re-calculations on the bounding box for the container and its children.

You can take a look at the `Public Methods` section in the README for an example.

[2019-01-02 20:15] toddhd commented on #68
Thank you Dominic. I've been unable to reproduce this bug on say,
StackBlitz, but can reproduce it locally consistently. I was able to force
my page to call the Resize() event in the meantime which fixes it, but I
will look at the update method you suggested. The data is static.

On Wed, Jan 2, 2019 at 11:43 AM Tim Deschryver <notifications@github.com>
wrote:

[2019-01-03 10:33] d3lm commented on #68
Ok, I am wondering what's causing this "issue" for you locally. I am curious to find out what it is but it's pretty difficult to do so without a working example, or a setup that is causing this.

But try to all `update` on the `select-container` once your items have been loaded. Still, it's pretty weird that this only occurs in Firefox and in Chrome everything seems to work just fine... 🤔

[2019-01-03 17:39] timdeschryver commented on #63
Passing an element seems like a good option to me, or would a directive be better here?
For what it is worth, if I remember correctly, we didn't want to introduce it previously because you could have nested scrollbars.

Did you test the flickering @shyamal890 ?

[2019-01-03 17:48] shyamal890 commented on #67
@d3lm I am still facing the 2nd issue that is multiple elements being selected on view change. But unfortunately I am not able to reproduce the same in the demo. Would you like to have a look over anydesk.com ?

[2019-01-03 17:49] shyamal890 commented on #63
@timdeschryver I did created another [issue](https://github.com/d3lm/ngx-drag-to-select/issues/67) which had basically 2 points one that the element was not selected when using `[selectOnDrag]="false"` and another one being that the drag box was causing issues on view change, which I am still facing.

[2019-01-04 18:43] d3lm commented on #63
@timdeschryver Yes, that's exactly why we didn't introduce that. I like the idea of a directive, because you could potentially register multiple scroll containers. That sounds reasonable.

[2019-01-04 18:46] d3lm commented on #67
Well, I need a reproducable anyways in order to find the cause of this issue if it's related to the lib. So I'd prefer if you could reproduce this.

[2019-01-08 14:04] rraziel opened #69 "Automatically scroll the container"
Hello,

This module works great, however a really nice feature would be the ability for the drag selection to scroll the container when going out of (visible) bound.

Unless such a feature already exists and I'm using the component incorrectly, which is entirely possible.

Thanks

[2019-01-08 18:01] d3lm commented on #69
Hey @rraziel, thanks! I am glad and happy that it works nice for you.

This is indeed a nice feature to have. Would you be up to take a look at this and send a PR? I am more than happy to assist you and help you with anything that comes up. I would really appreciate any help.

Any remarks on your end @timdeschryver?

[2019-01-08 18:05] timdeschryver commented on #69
Yea, why didn't we think of this 😅
I think it would be a great addition!

[2019-01-11 18:04] shyamal890 commented on #67
Sometimes the library wrongly multi-selects items even though only one item is clicked. Check the gif attached.

Am unable to reproduce the issue on stackblitz.

![selection issue](https://user-images.githubusercontent.com/6606965/51051271-55adbc00-15f9-11e9-9f63-4595e0b9d2ba.gif)

[2019-01-12 17:09] shyamal890 opened #70 "[Bug] Doesn't work with Material Drag-Drop Cdk"
For some reason if `cdkDrag` and `[dstSelectItem]` are on the same element select no longer works.

[2019-01-13 16:43] d3lm commented on #70
Thanks, for openeing this issue. I want to remind you that I need the exact steps on how to reproduce this. It would also be helpful to get more information in the issue. Furthermore, can you please provide a **minimal reproducable**? Otherwise we cannot see if this can be fixed on our side.

[2019-01-17 19:38] toddhd commented on #68
https://www.youtube.com/watch?v=59FxIGtvpMI

Hi - sorry to be that "naggy" guy, but I'm still having some weird issues.
For what it's worth I am willing to share this demo code on GItHub with
you, but would prefer to not the URL out over a public forum like this. One
thing I forgot to mention, and maybe it is relevant, is that I am
"reselecting" some areas by selecting over them. Maybe that's the

[2019-01-17 19:47] toddhd commented on #68
https://youtu.be/zKdfhff6EtE

On Thu, Jan 17, 2019 at 11:38 AM Todd Davis <toddhd@gmail.com> wrote:

[2019-01-18 07:32] d3lm commented on #68
Thanks again for the great explanations, Todd. You don't have to be sorry for opening and posting updates on this issue. I really want to improve this library and iron out any bugs that make this lib less usable. So keep on doing this! The only expecation I have for people that file issues is to also invest some effort in trying to reproduce it. But you clearly do that and you even record videos t

[2019-01-30 23:50] toddhd opened #71 "Is there a way to programatically enable/disable an element as selectable?"
Just to be clear, I'm not asking about changing something from selected to not selected and back again. Rather, I want to make specific element selectable/not selectable via code.

According to the docs, you make a DOM element "Selectable" by wrapping all the items you want to be selectable in a "<dts-select-container>" element, and then you also need to add the [dtsSelectItem]="item" tag to the e

[2019-02-12 16:31] mortanalexandru opened #72 "Select items inside a component"
I am not able to get back the selected items in the case there is another wrapper component inside the dts-select-container. The SelectContainer uses @ContentChildren to get the $selectableItems. Is there any workaround?
example:
[code]
Thanks in advance!

[2019-02-13 07:48] lehoffma opened #73 "Positions don't update correctly on transform changes"
Hey!
Whenever the `transform` value of a tracked item changes, e.g. from `translateX(100px)` to `translateX(200px)`, the selection rectangle seems to just stick with the initially calculated position.
That results in the selection rectangle behaving in unexpected ways, i.e. selecting an item outside the rectangle or not selecting an item even if it is inside.

I created a repository with a minimal

[2019-02-14 09:45] d3lm commented on #72
Hey, thanks for filing this issue. The fact that, as you correctly said, the `select-container` uses `@ContentChildren` to find all `select-items` this does not work out of the box if you have another component in between the container and the items. However, this is a small fix as we only need to set `descendants` to `true`, which will include not only direct children but also all descendants of

[2019-02-14 10:42] d3lm commented on #73
Hey, thanks for filing this issue. The problem here is that you cannot just transform the select items using a `CSS Transform`. That invalidates the bounding box and the library only updates the bounding box on certain events, such as `resize`, `scroll` etc. So basically it's not behaving correctly because it uses an incorrect bounding box (which is cached until one of those event happen) for figu

[2019-02-14 10:55] d3lm commented on #73
Another thing I have noticed is that adding a border once the item is selected is problematic because it again changes the bounding box and the lib is still using an old cached version. That's also why the select box is a bit off and starts to select items even though you're not yet on that element.

[2019-02-15 12:35] lehoffma commented on #73
You're right, calling `update()` fixed my problem. Thanks for your quick help :)

[2019-02-15 12:35] #73 closed

[2019-02-15 16:53] timdeschryver commented on #72
I think it should work.

[2019-02-15 19:06] d3lm commented on #73
You're welcome!

[2019-02-15 19:10] d3lm commented on #72
I will implement this shortly.

[2019-02-22 05:39] TeXnicians commented on #68
@toddhd I've encountered the same issue as yours. Resizing window fixes the bounding box.
I have tried to add `update` every time when I load the data. But the bounding box is still wrong after first loading the page.

But I found a fix:
[code]
Call `update` as well in `ngAfterViewChecked` then it got fixed. Not sure why but it may give you more hints on this issue. Sorry I cannot reproduce this o

[2019-02-22 07:07] TeXnicians opened #74 "[Feature Request] Parent Children drag event interactions"
This is a feature request (or if it is already achievable, please let me know).

Let me describe it briefly:

Here is the stackblitz for the MWE: https://stackblitz.com/edit/angular-sbkxtf

So as you can see, we have a container and we have some children in it. The container is `dts-select-container` and the children are `draggable="true"`.

When I start dragging the child:
1. The select event is

[2019-02-22 10:38] d3lm commented on #68
Hmm 🤔I am wondering what's causing this issue. It would be really nice if you guys @toddhd @TeXnicians could reproduce this in a separate very minimal repo. It doesn't necessarily need to be in a StackBlitz, and it could also be just a minimal Angular app. You can then push that to GitHub and I can take a look. What's important here is the scenario so I can try and reproduce this on my own machine

[2019-02-22 15:50] toddhd commented on #68
Thanks guys. I'm no longer with the company and not working with that code
anymore (Know of any good job leads?) however one thing I'm wondering... I
was using this inside of an Angular Material dialog box. Zhaodong, is your
code inside of a dialog or popup of some sort?

On Fri, Feb 22, 2019 at 2:38 AM Dominic E. <notifications@github.com> wrote:

[2019-02-22 20:09] d3lm commented on #74
So I quickly took a look at your StackBlitz and also how Google Drive does it. I think this is not really the responsibility of this library. As far as I can see, Google Drive only allows to drag an element if it is selected. So you might need to enable/disable the drag-and-drop as well as the drag-to-select. So you would disable drag and drop for all items unless they are selected. If you start d

[2019-02-22 20:12] d3lm commented on #71
Do you mean you want to programatically select or deselect items? Or do you want to disable some elements so that the user cannot select them at all?

[2019-02-22 20:20] d3lm commented on #72
Soooo, I just took a look at the code and found out that we are already using `descendants: true` so it should actually be not a problem that the `select-items` are nested in components 🤔

@mortanalexandru Do you mind creating a minimal reproducable. I'd suggest to use [StackBlitz](https://stackblitz.com)?

[2019-02-22 20:45] d3lm commented on #63
@timdeschryver I think a directive is not really sufficient enough because there might be scroll containers outside of the `select-container` and I wouldn't be able to query those using the `@ContentChildren` decorator. So maybe the user can just pass in a list of element refs and is responsible for collecting all those elements and pass them along?

[2019-02-23 12:10] d3lm commented on #69
@rraziel So how do you think should this behave when there are multiple scroll containers? Cause you could have the page that is scrollable as well as the select-container which might be scrollable too. You think that the container is enough because I don't want to make this too complex and try to keep the lib as lightweight as possible.

Ideas @timdeschryver?

[2019-02-23 23:22] TeXnicians commented on #74
@d3lm Thanks for your quick response! Now I can do something like this with the `disableDrag` input. But this is a bit hacky. The idea is:
1. I have a service storing the `selectedItems` (a `BehaviorObject`).
2. The `select-container` subscribes `selectedItems`:  if `selectedItems.length > 0`  I set `disableDrag = true`, otherwise I set it to `false`.
3. All the draggable items (and they are also

[2019-02-23 23:33] TeXnicians commented on #68
@toddhd The code is inside of a `MatTree`.
@d3lm sure I will try to build a minimal app if I can reproduce this.

[2019-02-24 10:19] d3lm commented on #68
Thanks, looking forward to a MVR so I can take a look.

[2019-02-24 11:13] timdeschryver commented on #63
@d3lm I could be completely wrong with this, but won't they all be children of `dts-select-container`?

I think to give the responsibility to the user of passing elements refs is fine. People using UI libraries like angular material for example already are used to this, so doing this would also feel comfortable.

[2019-02-24 11:16] timdeschryver commented on #69
Personally, I would expect that the direct parent would scroll with the mouse movement.
If every container scrolls, it would look a bit funny imho 😅

[2019-02-24 15:40] d3lm commented on #69
Yep totally.

[2019-02-24 15:43] d3lm commented on #63
Not necessarily, because you could also have scroll containers outside of the select-container no? For instance in many apps the `body` is not scrollable but instead some `main` element that wraps the content area. Really depends on the layout tho.

The fact with Angular Material is a good one. So maybe we just off-load the responsibility to the user. However, we could still provide a directive th

[2019-02-24 16:54] rraziel commented on #69
I'm not sure how reliable this would be - especially considering people may also use extra components for infinite scroll - but I expect finding the first scrollable ancestor might work?

[2019-02-24 23:28] TeXnicians commented on #68
@d3lm Fortunately, I can even reproduce it on StackBiltz: https://stackblitz.com/edit/angular-rz4cso
The selectable tree is in the second accordion, when you expand it, and then drag the selection box, you will see the mismatch. Please let me know if you can see it.

[2019-02-25 11:01] d3lm commented on #68
@TeXnicians This is not an issue with the library. The problem here is that the select-container as well as the select-items are inside an accordion which means that there are changes to the DOM that the library is not aware of. That is, when the accordion is being expanded, the positions and bounding boxes change, as the browser performs recalculations so that it can correctly render every elemen

[2019-02-25 11:23] d3lm commented on #69
@rraziel Yep, that might be enough.

[2019-02-26 08:34] TeXnicians commented on #74
@d3lm I think `beforeDrag` could potentially solve this. It is possible to add this?

[2019-02-26 08:40] TeXnicians commented on #68
@d3lm Thanks! This fix works!

[2019-02-26 14:13] d3lm commented on #68
Happy it worked. I will close this for now and if the issue comes up again, we can either reopen this issue or open a new one.

[2019-02-26 14:13] #68 closed

[2019-02-27 09:55] d3lm commented on #74
Yep, I think we can add this output. Do you think that should be enough to make it work with the DnD library from the Angular CDK?

[2019-02-27 09:55] d3lm commented on #74
Curious to hear your thoughts. Maybe you have a solution in mind that is less or even not hacky at all.

[2019-03-04 01:22] TeXnicians commented on #74
I am not sure if this would work with Angular CDK Drag and Drop. In the Stackblitz I wrote my own handler for `drag`, `dragstart`, `dragend` etc. I didn't use Angular CDK.

I think in order to replicate the GDrive effect, we probably need to provide the following API such that the entire event chain is like follows:

1. `mousedown`
2. Detect whether the current mouse position lies in the selected

[2019-03-14 14:48] TeXnicians commented on #74
@d3lm do you have any comments on this? Curious to hear your thoughts.

[2019-03-22 14:55] jugonzalez40 opened #76 "[Question] Do not allow selecting items dragging over items"
Hi, great API.

There is any feature or any way to don't allow selecting items by dragging over itmes, but inside container (outside items).

i.e
You could only select from the red section,
![image](https://user-images.githubusercontent.com/36463583/54831373-39c53700-4c88-11e9-9638-1e25f4d0156d.png)

[2019-03-22 22:48] jugonzalez40 commented on #72
Look @d3lm
https://stackblitz.com/edit/angular-hm2c7v

[2019-03-24 15:50] d3lm commented on #72
Ohh I see now. In this case I would suggest to use content projection, meaning to use an `ng-content` element inside thee component so that the select-items remain content of the select-contanier.

[2019-03-24 16:04] d3lm commented on #76
Hey @jugonzalez40, thank you for your feedback and your feature request / idea.

Currently this library does not support this but I am open for ideas and PRs! This should be fairly easy to implement. We basically have to introduce another configuration flag that only allows you to start the selection if the cursor is outside of the items' bounding box.

@timdeschryver What do you think? Do you thi

[2019-03-25 11:35] timdeschryver commented on #76
I think this is a valid use case to add.

For now until this gets merged, I think this would be possible with css?
If it is, would it be enough to add it as a FAQ in the README?

[code]

[2019-03-25 12:25] d3lm commented on #76
@timdeschryver Absolutely. For now this can be solved with CSS and even for the real implementation we could also go for a CSS-based solution. So enabling a flag will add a class which sets the pointer events to `none` too. Or we would really disable the creation of the selection box if you start on an item.

[2019-03-25 17:58] timdeschryver commented on #76
I think it would be better to add this with some RxJS because we handle all the behavior already with it. But I'm not against it to solve this with css tho 😄

[2019-04-30 13:00] dariusll commented on #76
+1.  I need to use this library together with https://www.npmjs.com/package/ng-drag-drop , but when I  drag item to drop, also drag-to-select works. Implementing feature mentioned in this ticket would resolve my problem.

[2019-05-02 07:58] segux opened #77 "Support to ngModel"
I was trying to use dts-container as form control element but it's not developed for this purpouse.

How hard can be to add this functionality?

[2019-05-05 16:06] d3lm commented on #77
Hey there! Thanks for using this lib and opening up this issue.

Regarding your question I'd say that the both the container nor the items are not meant to be form controls out of the box. This is something specific and less general use case. If you wish to integrate this into your forms I would suggest to wrap it in a custom form control and implement the `ControlValueAccessor`. This serves as a

[2019-05-05 16:42] d3lm commented on #76
Yep that sounds reasonable. Anybody wants to take a stab at implementing this? I'd really appreciate a PR.

[2019-05-13 13:28] segux commented on #77
But you need an extra implementation and usually i used this component as form control.
right?

[2019-05-14 07:43] d3lm commented on #77
Not really. I personally don't use this as a form control but their might be use cases for sure. But again, I try to avoid making this a custom form control out of the box because this means a more heavy implementation and less lightweight. This lib solely aims to provide drag-to-select functionality (single responsibility) and then you can build anything on top.

[2019-05-15 09:48] suhailsalim commented on #69
@d3lm Any update on this ?
Thanks. :)

[2019-05-15 10:42] d3lm commented on #69
Not yet. Haven't had the time to work on this. As this library is open source I would appreciate any help and maybe @suhailsalim you wanna take a stab at this and send a PR if this is a pressing issue?

[2019-05-15 10:42] d3lm commented on #69
Or of course anyone else is also welcome to send a PR to introduce this feature.

[2019-06-11 14:38] #77 closed

[2019-08-06 17:38] vascocc opened #79 "[Question] SHIFT behavior by default"
First of all, great project. Just have a question.
I want to drag multiple times and persist those selections, the same we get with Shift pressed, but I want to achieve that as the default behavior.
Is that possible with the current code base?
I tried setting the selected cells programmatically but my cells keep flickering (They have a different color when selected). Each time I start dragging, th

[2019-08-07 10:13] d3lm commented on #79
Hey @vascocc, thanks for the feedback! I am happy to hear that you find some use case for this library.

As to your question, this is currently not supported and there is no option to enable the shift behavior by default. But I could imagine adding this as an option. For example having an `additive` mode that, when enabled, will not clear the previously selected items and therefore keep adding ite

[2019-08-08 09:22] vascocc commented on #79
Hey @d3lm, I like that approach.
I'm interested but I'll just be able to do it in a couple of weeks.

[2019-08-28 18:31] vascocc commented on #79
Hey @d3lm, should I use 'additive' or 'addictive'?
I just managed to get this feature working and I'm hoping to pull this in the near future.

[2019-09-02 09:23] d3lm commented on #79
Great, looking forward to your PR. Let's go with `additive`.

[2019-09-03 01:55] aammfe opened #81 "Use it with ng2-pdf-viewer"
Hello!!
is its possible to marry it with [ng2-pdf-viewer](https://github.com/VadimDez/ng2-pdf-viewer) and create PDF selection tool on steroids ..?

I have opened an [Issue](https://github.com/VadimDez/ng2-pdf-viewer/issues/517#issue-488355740) if its possible please help me out !
Thanx.

[2019-09-03 07:31] d3lm commented on #81
Hey there! I have not used that library myself so I don't really know what it takes, but do you have specific issues? I can try and answer your questions if you run into issues and maybe throw out some ideas how to fix them. I am happy to help.

[2019-09-03 20:58] aammfe commented on #81
Hello!!
Thanx for reply

some thing like this...
https://www.newocr.com/ but a more advance.

here u can select only one area but what I m trying to do it would have multiple area selection.
and each selection could have a type.

[2019-09-04 06:08] d3lm commented on #81
Hey, so I believe this has nothing to do with this library and is also outside its scope. I mean you can try to integrate it with a pdf-library and if you run into particular issues you can always come back here and we can discuss if we can do something about it. Because there are no actions to do, I am closing this issue for now.

[2019-09-04 06:08] #81 closed

[2019-09-04 10:52] aammfe commented on #81
ok.. I will read ur code if I find any difficulty I will ask u here ..
thanx :-)

[2019-09-09 00:58] NeoZhao-cn opened #83 "doesn't work when scale the parent container"
If you use 'transform: scale(x)' to scale your parent container, mouse pointer position is incorrect, and you can not select your items as you like.  For example, you can modify Demo Source app.component.html : class  'drag-area' div ' style :  transform-origin: 0px 0px 0px; transform: scale(0.6); then you can find this issue.

[2019-09-09 03:27] NeoZhao-cn commented on #83
I have created a PR to fix this issue : #84

[2019-09-10 09:50] d3lm commented on #83
Hey there! Thanks for opening up this issue. It's generally a good idea to first discuss this issue and find a solution before sending in a PR. Also, I would like to point you to the [Developer Guide](https://github.com/d3lm/ngx-drag-to-select/blob/master/DEVELOPERS_GUIDE.md) and the [Contributing Guide](https://github.com/d3lm/ngx-drag-to-select/blob/master/CONTRIBUTING.md). Just glimpsing at you

[2019-09-11 01:42] NeoZhao-cn commented on #83
first ,thanks for your quickly response, and sorry for all the mistakes, cause this is my first time to commit a PR. as you mentioned , better to discuss the solution first. so i will send a demo to reproduce the issue. so we can focus on what's happening.

[2019-09-12 02:03] NeoZhao-cn commented on #83
I have created a demo : https://stackblitz.com/edit/angular-9ouewa. Actually, there are two issues ,including scale and scoll, you can repreduce issues by steps follow:
issue 1:   click bottom 'zoom in' or 'zoom out', then drag mouse, the selectbox is in wrong position.
issue 2: reset zoom, then scroll 'drag area' down, and then drag mouse , the selectbox is in wrong position.

about issue1 : as y

[2019-09-13 10:09] d3lm commented on #83
No, I personally have never worked on such application. But this library was not developed with a scalable or transformable canvas in mind. This goes beyond the capabilities and IMO responsibilities of this library. If you are dealing with a canvas that the user can zoom and do other things with, you might need to build a custom solution. But you can for sure find inspiration on how to build such

[2019-09-17 08:05] d3lm commented on #83
Closing this one for now.

[2019-09-17 08:05] #83 closed

[2019-09-18 14:08] Fredx87 opened #85 "The selectedItems input is never used"
The `selectedItems` input is not used inside the `dts-select-container` component. If the user pass an array with some items already selected, they will not be considered by the component.

This is an example: https://stackblitz.com/edit/ngx-drag-to-select-yqxr4t

In the HomeComponent I'm passing an array with some values:
[code]
but they are not marked as selected in the component. Moreover, if I

[2019-09-18 16:24] d3lm commented on #85
Hey there!

Yes that is correct and also more or less by design. That input is not meant to be used to pass in an array of items that are selected. There are other APIs that you can use to programatically select items. The input exists so that we can use a two-way binding on the select container, e.g. `[(selectedItems)]="selectedItems"`. This is only possible if there is an `@Input` with that name

[2019-09-18 18:19] Fredx87 commented on #85
"Two-way data binding" means that the binding is bidirectional: from the parent component to the child and vice-versa. For this reason in Angular templates is indicated with the "banana box" syntax, remarking that the variable passed is used both as an input and an output.

Since the select container-component is not using the input, i don't think it can be called two-way data binding, but it can

[2019-09-20 11:15] user23022 commented on #62
+1
Click, shift + click is the one thing I'm missing in this module.

[2019-09-20 13:19] user23022 commented on #62
I created my own implementation for this.

Add a click listener on the list item:
`
<li *ngFor="let item of items" [dtsSelectItem]="item" (click)="handleClick($event, item)">
...
</li>
`

Add clickhandler to component class:
`
@ViewChild(SelectContainerComponent, { static: true }) selectContainer: SelectContainerComponent;

private shiftClickStartIndex: number;

public handleClick(event, item): vo

[2019-09-26 08:59] Gluups opened #86 "No dragging"
Hello everybody,

I installed ng-drag-to-select in my project, in app.module.ts I have this :
`import { DragToSelectModule } from 'ngx-drag-to-select';

@NgModule({
  declarations: [
    AppComponent,
    FellowsComponent
  ],
  imports: [
    BrowserModule,
    AppRoutingModule,
    DragToSelectModule.forRoot({
      selectedClass: 'my-selected-item',
      shortcuts: {
        disableSelection:

[2019-09-26 13:28] d3lm commented on #86
Heya! Can you please provide a reproducable [StackBlitz](http://stackblitz.com)? This helps me to find out what the issue is and I have something to double check or debug in case it's an issue with the library. I would also appreciate if you could properly format your issue and put code inside markdown code blocks, so it's easier to read and parse.

The zip should be up-to-date, yes. It's version

[2019-09-26 15:55] LolBruflex opened #87 "Selected more items with shift key"
Hello and congratulations for this wonderful app!
a question, is it possible to select several consecutive elements, selecting the first one, keeping the shift key pressed, and clicking on a subsequent element? like the classic selection of multiple files on the window with the shift key!

thanks

[2019-09-26 16:24] d3lm commented on #87
Hey there! Thanks, glad you like it. This feature is not yet supported but was already requested in #79. We have to figure out which key we can reuse of if this is a mode you have to enable, because `shift` is already used for adding items to the current selection. I am open to discuss this and implement this feature. I think it's very useful and it seems people want this.

I am closing this one b

[2019-09-26 16:24] #87 closed

[2019-09-26 16:39] d3lm commented on #62
So there was another request (#87) for this feature and I think we should really go forward with this and add it to the library.

Is anyone willing to work on this and send a PR? That'd be awesome, because right now I am quite busy, but I can try to find some time for it. This shouldn't be too difficult and I would go for a solution similar to how this works on Windows. Basically overload the `shi

[2019-09-26 17:27] Gluups commented on #86
Hello,
OK if I do not forget I shall try and do that at a calmer moment.
For the moment being, my chief of project insisted on my using cdk.

[2019-09-27 06:47] user23022 commented on #62
Sounds good. Please consider how Windows / Ubuntu implement this:

When you click an item and shift + click later, all items in between are selected. But when you shift + click again, notice that the first item you clicked is memorized. The selection always starts with the item you clicked without shift last.

[2019-09-27 09:19] d3lm commented on #62
Yep, makes sense. Thanks!

[2019-09-29 19:02] LolBruflex opened #88 "selectable item with right click"
Hello!!!
Is it possible to select an item with the right mouse button?  I need it, because I have to open a context menu with a list of functions. Can i do it?

Thanks!

[2019-09-30 14:06] d3lm commented on #88
Heya! No, this is currently not supported, but could be made configurable easily. Currently I am very busy but I am open for a PR!

[2019-10-04 07:29] d3lm commented on #66
Closing because of inactivity.

[2019-10-04 07:29] #66 closed

[2019-10-07 14:34] d3lm commented on #62
I have just pushed a PR that introduces the range selection via `shift`. @user23022 @shyamal890 Would you mind checking out the PR to verify if the behavior is what you are expecting? You can clone the repo, check out the PR locally, then install the dependency and serve the app. Would be great to get feedback on this before I merge this.

[2019-10-09 09:54] d3lm commented on #88
So I was just thinking about this feature request and I am not sure if this makes so much sense, because right click normally triggers the context menu. Wouldn't you open the context menu with a right click and select items with a left click?

[2019-10-09 12:11] GregOnNet opened #90 "proposal: refactor conditionals"
Hi,

an idea could be to refactor the conditionals into certain rule lists.

### Disclaimer

🤗 This issue is just an idea according to https://twitter.com/elmd_/status/1181875171667451905.

### Propsal

[code]

### Affected code

https://github.com/d3lm/ngx-drag-to-select/blob/c47dee4a49c5e0d300d4b54873e0347779736dda/projects/ngx-drag-to-select/src/lib/select-container.component.ts#L423-L441

###

[2019-10-10 06:55] GregOnNet commented on #90
Talking about names for rules brings classes to my mind.
The taken class names below are incorrect, I believe.
I don't know enough about the internals to come up with a better proposal.

[code]

[2019-10-15 09:00] kaziupir commented on #85
So this is only output, not input.

[2019-10-21 00:06] d3lm commented on #90
Gotcha! Definitely an interesting approach. Thanks for your input, really appreciate it. I ll have to think about this for a while but I might refactor the library to use state machines. I think this is a great way to tame the complexity of this lib including all of its modes and features, as it's getting more and more feature rich and the conditionals are getting out of control.

[2019-10-21 00:14] d3lm commented on #85
Yea, you are right. It's not a true two-way data binding in the sense that whatever you pass in is also used internally. Changing this is definitely a breaking change and I am hesitating to make it a true way data binding. I'd rather not use that cause I am personally against bi-directional bindings because it's harder to keep track of changes and I prefer a uni-directional data flow. I only added

[2019-10-21 03:45] filipweilid commented on #74
Did you ever figure out how to do this?

[2019-10-21 04:55] d3lm commented on #74
Hey, I need to revisit this and think about it. Was working on a different feature (range selection, #89) first. I ll definitely come back to this.

[2019-10-25 05:21] #62 closed

[2019-10-25 05:36] d3lm commented on #62
This is now implemented in latest master. I ll cut a release soon. I am awaiting one outstanding PR and then I ll publish a new version. You can already check it out on https://d3lm.github.io/ngx-drag-to-select/.

[2019-10-25 05:41] d3lm commented on #86
Closing because of inactivity. If this is still an issue, we can reopen it. In that case, please make sure to provide a clear reproducable.

[2019-10-25 05:41] #86 closed

[2019-11-02 16:49] zerefel opened #91 "[Request] Publish master as a pre-release"
Hey everyone!

The last release of this package was about a year ago and a lot of new development has been added since then. Please consider publishing the current master branch as a pre-release or a release candidate.

Reasoning: It's harder to install the latest version from the GitHub repo since it requires `npm run build:lib` to get the `dist/` folder.

Cheers!

[2019-11-04 18:33] d3lm commented on #91
Yes that totally makes sense and I agree with you. I ll publish an RC version. Thanks for bringing this up. Though, I think since the last published version the only new major feature is range selection. And that has landed a few weeks ago.

[2019-11-04 19:19] #91 closed

[2019-11-04 19:23] d3lm commented on #91
There's now `3.2.0-rc.0` available on npm. You can get it by using the `next` tag, so to install the latest and greatest you can do `npm install ngx-drag-to-select@next`. You can find it on [npm](https://www.npmjs.com/package/ngx-drag-to-select).

[2019-11-06 22:02] Savers80 commented on #14
Hi All,
about performance i have setted [disabled]="true" or [selectOnDrag]="false" on element <dts-select-container> but without any click i see that container fire events: ngDoCheck, ngAfterContentChecked, ngAfterViewChecked simply moving the mouse ;
It is possible avoids this and fire this event ony when user start with selection area ?

thanks

[2019-11-07 10:46] antonbks opened #92 "Bug: Plugin is calling changeDetection on every mousemove"
Reproduction: https://stackblitz.com/edit/ngx-drag-to-select-2bpbcb

If you check the console you will see that every time the mouse moves, the test function is called as a result of change detection. This can be easily fixed by running the plugin outside angular to avoid change detection from eventlisteners.

[2019-11-07 20:04] Savers80 commented on #14
Hi d3lm,
about performance i have noted this:
Component <dts-select-container> is present and disabled in a component A and A is not rendered;
in a sibling component B i have logged this event ngDoCheck,ngAfterContentChecked, ngAfterViewChecked in this case no event is logged;
the problem is when componet A is rendered ; in this case when i move the mouse without click events are logged evrywhere

[2019-11-08 16:03] d3lm commented on #92
Oh yes, I wonder when this was introduced. Sorry about that one. I ll fix it ASAP.

[2019-11-08 16:11] d3lm commented on #14
Thanks for bringing this up. Can you give me the StackBlitz link so I can look at your code?

[2019-11-08 17:27] Savers80 commented on #14
Hi,
please,  this link to look scr ;
https://stackblitz.com/edit/ngx-drag-to-select-test

Thanks

[2019-11-08 19:37] antonbks commented on #92
Ok I see, I haven't had a lot of time this week to look at all the code but I'll have a check this weekend and get back to you.

If you can tell me more precisely how change detection affects re-rendering (point me to some code) that would make it faster.

[2019-11-08 20:13] bertrandg commented on #92
A nice optimisation for performance would be to subscribe on mousemove only between mousedown and mouseup.
Anyway, thanks for your library ;)

[2019-11-09 10:48] d3lm commented on #92
Good point @bertrandg! I like that.

[2019-11-10 17:47] bertrandg commented on #92
Yeah I understand.

Subscribing on `mousemove` only between `mousedown` and `mouseup` is already a big win for the library.

But to go deeper, it would be possible to track all mouse events outside zone.
Here is what is needed inside `SelectContainerComponent`:
- Call `changeDetectorRef.detach()` in constructor.
- Call `changeDetectorRef.detectChanges()` when need to refresh select box view (refre

[2019-11-11 08:18] d3lm commented on #92
Yep, sounds reasonable. I ll have a look and see which solution I ll go with. Maybe deteching the whole container from the CD cycle might be a good idea. This way I can call CD manually when needed.

[2019-11-15 20:49] Savers80 commented on #92
Hi,
i'm novice with Angular, but it's seems  naive solution to solve cd on whole app could be:
1- public htmlElement: any = window;
  constructor(@Inject(PLATFORM_ID) private platformId: Object) {
    if (isPlatformBrowser(this.platformId)) {
      this._initializeKeyboardStreams();
    }
  }
  public initializeKeyboardStreams() {
    if (isPlatformBrowser(this.platformId)) {
      this._initializ

[2019-11-22 21:09] jmacaluso711 opened #93 "[Question] Select nested elements"
Hi @d3lm ,

I'm working on a project where I want an element and it's child to be separately selectable. Given the structure below, is it possible to select the `nestedElement`, but not the `element`.

[code]

[2019-11-25 10:00] d3lm commented on #93
Hey @jmacaluso711, thanks for reaching out. This is an interesting use case, but unfortunately this is not yet possible. That's because right now, the container selects all `dtsSelectItem` instances. But I could maybe image a configuration option that allows you to specify the name that is used to query for the select items, for example:

[code]

Notice the new input `itemSelector` and also the te

[2019-11-25 14:32] jmacaluso711 commented on #93
Hi @d3lm , Thanks for getting back. Yeah, seems like this would be pretty tricky because I'd still want the `element` to be selectable as well. So as you mentioned, maybe a structure like this would be needed:

[code]

Wondering if the configuration option could stop propagation or if there would be some other tricky logic that needed to be in place to detect which item is being selected at the ti

[2019-11-29 10:21] d3lm commented on #93
Hm yes, I have to think about this but as I said, currently this is not supported. Contributions are always welcome though and I am more than happy to get you up and running if this is something you need in the near-future.

[2020-01-31 07:35] andrzejkala opened #95 "[Question] Selecting interactive elements"
Is there an option/param to disable the propagation of the click event while selecting interactive elements while the option `[selectWithShortcut]` is set to `true`?

e.g. when in "select mode" (holding down the meta key) the `openDocument()` event would never be fired (just the element would be selected.

[code]

I can detect the meta key on my side and just enable/disable the `openDocument()` fu

[2020-01-31 10:58] d3lm commented on #95
Hey there! Thanks for opening this issue 🙏

That's a really good point you're bringing up there, and it totally makes sense in your use case to stop the event propagation if `selectWithShortcut` is enabled. However, I am not sure if this should be the default. What I can imagine though is maybe an option to disable the event propagation on the `dtsSelectItem` for when one of the meta keys is press

[2020-02-03 11:00] johny-gog commented on #95
Hi there. :) Collegue of @andrzejkala here.

IMHO workaround with meta click is kind of OK, but on the longer run it's hacky. It would be cool to add something built-in.

My propositions:

- Prevent click when selecting (as an option)
- (also as option) Pass a callback, so the library can decide whether it was just a click, or it was a select action

It would be perfect if you could do it, but if

[2020-02-03 13:28] johny-gog commented on #76
+1 we'd love to see this too. :)

[2020-02-06 09:46] d3lm commented on #95
Yep, I like your suggestion! I see if I can get that in ASAP 👍

[2020-02-28 23:17] tehkyle opened #96 "FR: Scope the selection container to only allow drag select"
I would like to use this directive to add drag-selection features, but I have my own custom shortcut+click logic already in place. I'd like either a configuration to only allow drag selecting or an event output parameter that indicates which type of selection action is returning the array of items.

[2020-03-01 20:51] d3lm commented on #96
Hey there! Thanks for reaching out. Have you looked at the `selectWithShortcut` option? Check [this](https://github.com/d3lm/ngx-drag-to-select#dts-select-container) part of the readme. Essentially it will disable click selection and only allows to select items via shortcut. Is that what you need?

[2020-03-02 16:54] tehkyle commented on #96
THank you for your response. Unfortunately that option also won't work for us as our custom click logic uses some of the same shortcut keys in different ways.

[2020-03-03 14:46] d3lm commented on #96
Can you post a StackBlitz that reproduces the shortcut situation?

[2020-03-06 13:25] vincentjdc commented on #85
Hi,

This is a really weard behavior. Most Angular 2+ developers will expect a true 2-way binding when seing something like `[(something)]`

I understand that you don't like 2-way binding. But it's harder to keep track of changes when you see something that is like 2-way binding without being it...

As that change is a break change, could it not be an option to passe to `DragToSelectModule.forRoot

[2020-03-06 15:59] vincentjdc commented on #85
I made some changes to let the possibility to have two-way binding :

https://github.com/vincentjdc/ngx-drag-to-select/commit/f814a1203e60549f98c5058d52afc2b21b3ce10a

What do you think ?

[2020-03-09 11:00] d3lm commented on #85
@vincentjdc Yes I like the idea of using the config to enable this. I see if I can get this in soon.

[2020-03-13 13:59] yabejarano10 opened #97 "Question: Toggle selectMode with SelectOnDrag?"
Hi. I'm using the selectOnDrag property but now because of some requirements I need to also have the Toggle selection on (selectMode=true) but when I do this, the selectOnDrag gets disabled.

Is there a way to have both of this modes working? I know I can have the toggle mode working with selectOnDrag using the shortcut "meta" but I'd like to do it without the shortcut and only using the mouse cli

[2020-03-16 08:34] edilcher commented on #95
Hi there, yet another colleague of both @andrzejkala and @johny-gog.
Have you made any progress on this?  I ask because if not, I think we could post a PR for it relatively soon.

[2020-03-18 10:17] d3lm commented on #95
Trying to work on it this weekend.

[2020-03-25 00:32] DawsonLey commented on #36
I'm calling update on the select-container when the page scrolls, but no luck, select box is still offset from mouse by the amount I scrolled down. Am I missing something? The method is definitely getting called, it's just not working :/

[2020-04-28 11:54] Saonela commented on #92
Any news on this ?

[2020-04-28 12:04] d3lm commented on #92
Hey @Saonela, my apologies but I haven't had the time yet to delve into this. I am a bit swamped at the moment but if you want to take a stab at it I am more than happy to support you. I would appreciate a PR. First we should upgrade the library to v9 tho. That is also on my todo list.

[2020-06-16 11:02] sumbricht commented on #93
Hi @d3lm , I have just started using ngx-drag-to-select for a new project of mine and absolutely love it :-). The only issue I have stumbled over is the same one @jmacaluso711 was facing; I do have nested elements where the parent and its children need to be selectable. Currently, selecting a child always co-selects the parent, which shouldn't happen in my use case.
Do you have any news or have yo

[2020-06-18 19:41] ckapatch commented on #71
Hello, thank you for the great library, I have a similar question and yes want to know if you can mark an item as not selectable? So that if you attempt to select it will not allow it.

[2020-06-18 21:59] d3lm commented on #93
Not yet unfortunately. A PR is more than welcome. If you have concrete ideas how to solve this, we can start discussing it here first before you start working on an actual PR.

[2020-06-18 22:02] d3lm commented on #71
Currently this is not supported. But I am more than happy to help you out if you sent a PR. But first, we should discuss the solution here, to make the process of the PR as smooth as possible.

[2020-06-19 01:05] ckapatch commented on #71
Thanks @d3lm I was hoping to be able to somehow mark an item as not selectable, I'm not exactly sure of the best way to accomplish this but in theory it may look something like this:

[code]
Would something like this be possible?

[2020-06-19 08:32] d3lm commented on #71
Yea, indeed. This is what I was thinking too. We could add an input to the item itself that indicates if an item is selectable or not.

[2020-06-21 21:58] sumbricht commented on #93
Ok, now I have found some time to play around with the code :-) and I think I have a nice solution approach that doesn't require any significant changes.
Essentially, I have adapted the logic in _onMouseDown to not only check which items' bounding boxes overlap the mouse position, but alternatively use document.elementFromPoint to find the inner-most nested item.
This of course needs to be configu

[2020-07-05 18:02] haseebahmad95 opened #101 "Clears the previous selected items for selectedItems output upon datasource update"
Hi

I am fetching new items when scroll reaches the end. So the issue I am facing is when I select the items with drag and it reaches across the previous data and new data, the previously selected data clears and the selection from new data remains. It should maintain the selection state from previous selection. Following is the code snippet.

Kindly respond ASAP.

<dts-select-container #tableCont

[2020-07-06 09:55] d3lm commented on #101
Hey there! Thanks for your feedback and reporting your issue. Can you please create a [StackBlitz](http://stackblitz.com/) for this? It's important to have clear reproducable. Also, what version do you use?

[2020-07-06 19:44] haseebahmad95 commented on #101
Hi, Here is the stackblitz link. You can reproduce it here by start dragging from document 10 to the end you will see the document 10 to document 20 will no appear in the selection list and next 20 documents will be selected. To reproduce it again please refresh the browser window.
https://stackblitz.com/edit/github-4bikex

[2020-07-07 09:29] d3lm commented on #101
I looked at your blitz but I am not sure I understand the problem. Have a look at the following gif:

![load_more](https://user-images.githubusercontent.com/12571019/86759168-a498ae00-c044-11ea-9fe4-24b3f01ed2be.gif)

I am selecting "Item 10" and then start scrolling down which will trigger more items to be loaded, and while this happens I continue to scroll down and select all items from 10 to 39

[2020-07-07 10:32] haseebahmad95 commented on #101
Thanks for the responding.

Actually the issue is when we start dragging and in between the dragging the data is updated then previously selected items vanished and newly selected items came in selected items you can see below in the gif. I have started selection from item 10 to item 39 but in the selected items it is showing from item 17 onwards.

![screenPlay](https://user-images.githubuserconte

[2020-07-10 12:34] haseebahmad95 commented on #101
Hi @d3lm , Any update?

[2020-07-13 09:41] d3lm commented on #101
This seems to be a bug. Currently I do not have the time to look at it. A PR and contribution is more than welcome.

[2020-10-09 06:41] hartjo opened #107 "Angular 9 Support"
Hi do you have a working sample for angular 9 ivy?

[2020-10-09 14:28] d3lm commented on #107
Hey there! Not yet but I plan to upgrade this soon. Wanna help out to get this over the finish line asap? I am a bit tight up with work right now so I would appreciate help.

[2020-10-15 12:51] paulbijancoch opened #108 "Any chances to run this with 'position: absolute' on the dtsSelectItem?"
My dtsSelectItem needs to have an absolute position, and now the selection does not work. Any chances to get this going?

[2020-10-16 12:20] mindeltd opened #109 "Angular 10 support"
Currently I'm using Angular 9 and everything works just fine. After I update my project to Angular 10 I get an error message:

"ERROR in node_modules/ngx-drag-to-select/lib/drag-to-select.module.d.ts:5:59" - error TS2314: Generic type 'ModuleWithProviders<T>' requires 1 type argument(s).
5       static forRoot(config?: Partial<DragToSelectConfig>): ModuleWithProviders; "

It seems that "angular/co

[2020-10-16 20:17] d3lm commented on #109
Hey! Thanks for the issue. Upgrading this library to Angular 10 (latest) is on my todo list and I am actually trying to do this this weekend. So I'd say hang in there a bit longer, and I ll try to upgrade it asap.

Thanks for the patience and using this library 🙏

[2020-10-16 20:19] d3lm commented on #108
Hey there! I am not sure, I'd have to take a look. Would you be able to take a stab at it and see if you can contribute with a PR? Is that something you can imagine to do? Would appreciate help if possible. Otherwise I can't promise anything soon but I see if I can take a quick look at it this weekend.

[2020-10-27 09:26] RahmatAliMalik5 commented on #109
@d3lm Thanks Pal. I am also waiting the update for it.

[2020-10-27 13:54] d3lm commented on #109
@RahmatAliMalik5 This is now being worked and will be released very soon. It's around the corner and likely being published this week. Watch out for a new release.

[2020-10-29 16:36] d3lm commented on #107
@hartjo Just wanted to get back to you and mention that this is done now. I only need to publish a new release. Will happen this week.

[2020-10-29 17:06] sonicfran86 commented on #107
@d3lm, I was migrating my project to angular 9 and the drag selection is not working with Ivy enabled. Looking forward for the new release :)

[2020-10-30 12:57] d3lm commented on #107
@sonicfran86 Did you already try v4.0.0? I have released it yesterday.

[2020-10-30 13:00] d3lm commented on #107
Closing this issue because the upgrade has been finished. See #110.

[2020-10-30 13:00] #107 closed

[2020-10-30 13:01] d3lm commented on #109
This is not done (#110) and there's a new version 4.0.0 available on npm that now supports Angular >= 8.

[2020-10-30 13:01] #109 closed

[2020-11-04 09:35] sonicfran86 opened #111 "Cannot deselect items on Angular 9 + Ivy"
Hi,

I'm using Angular 9 with Ivy enabled and ngx-drag-to-select 4.0.0.

When I select 2 or more items (either dragging or ctrl + click) I cannot deselect them anymore.
However, if I disable Ivy it works fine again

[2020-11-04 12:15] d3lm commented on #111
Hey, thanks for reporting this issue. Please fork the StackBlitz, and re-create the issue. On the demo page, which has Ivy enabled, it works just fine.

[2020-11-04 12:16] d3lm commented on #111
![CleanShot 2020-11-04 at 13 15 29](https://user-images.githubusercontent.com/12571019/98110793-ec6afd00-1e9f-11eb-939b-81d739bd8d04.gif)

[2020-11-04 18:38] sonicfran86 commented on #111
thank you for your quick response.

I was able to reply the issue in this fork: https://ngx-drag-to-select-2kmfrw.stackblitz.io

The problem happens when I add 2 nested *ngIf directives, while one is depending on selectedItems binding. This is the piece of html that I added:

[code]

[2020-11-04 19:28] d3lm commented on #111
Yea ok, so in general, you don't wanna do this. The reason for this is an `ngIf` inside the select items change their bounding boxes. Generally this is not a big deal but requires you do **manually** update the bounding boxes in those cases. The library is not responsible for attaching resize listeners for each item, because that has quite some performance impact. Basically, while you're dragging,

[2020-11-06 14:19] paulbijancoch commented on #108
Hey @d3lm,
I already solved it in another way, but thank you for the offer, and sorry for the late reply.

[2020-11-06 14:19] #108 closed

[2020-11-06 17:55] d3lm commented on #108
Hey! No worries @paulbijancoch. Do you mind sharing your solution? Curious to see how you solved it, just as a reference for users with a similar issue.

[2020-11-18 11:09] heisen04 opened #113 "Selection is not working when combined with virtual scrolling"
Hi there,

I am using the library **paired with the virtual scroll**, in this case, although the **update method is called but the selection is errati**c. As soon as I scroll down, the selected array goes to null and the style is not changed.
Has anyone else faced this issue ?

Here's a link to check : [https://stackblitz.com/edit/ngx-drag-to-select-virtual-scroll?file=src/app/app.component.html](

[2020-11-19 22:59] d3lm commented on #113
Hey! Wow, that's super strange. I have not used it together with the CDK's virtual scrolling, but I do know that other modules from the CDK like the drag and drop cause very strange behavior, and the often intercept events etc.

I do not know what's going on the your case, and would need to investigate myself. Would you be willing to debug this and try to find out what's causing this? Get to the b

[2020-11-20 19:20] heisen04 commented on #113
Sure thing. I'll take a look into this and try to debug.

[2020-11-22 17:39] d3lm commented on #113
Thank you very much! Really curious about your findings. If you find the culprit then let's get that fix in.

[2020-12-16 14:03] paulbijancoch commented on #108
Hey @d3lm,

I figured out, that I need to get this working with a `transform: scale(' + $scale + ')'`. The general setup is a container, which holds a canvas, which lets to scrolling and zooming (panning) around the whole container.

So the boxInterecting does not work properly. I am working on a solution to scale the `dts-select-container` in sync.

I think to solution is very wide, and clumsy, s

[2020-12-22 13:49] d3lm commented on #108
Thanks for your update! I agree that this seems to be an edge case and if there are more people running into the same issue, we can come back and work out something together.

[2021-02-08 07:35] #76 closed

[2021-05-12 10:27] sam-eah opened #125 "Property dragOverItems is not released?"
Thanks again for the nice work,
I can't seem to have the property `dragOverItems` working in my project, neither in the stack blitz live demo, despite habing everything up to date.

It just seems to me that the latest feat was indeed merged in master, but there still hasn't been no release. Last release in date (4.0.0) is 6 months old.

Am I missing something?

[2021-06-07 12:38] GRX opened #128 "[Question] Trigger drag selection based on pressed key"
Hi,

I'd like to know 2 things,
1; Is it possible to only initiate the drag select when (for ex;) the meta key is pressed?
2; Since nested components cannot be grabbed with a dragged selection, is it possible to get the start/end coordinates of the mouse when a selection has been made? (for ex; x10,y10 -> x15,y30)

[2021-06-19 12:05] d3lm commented on #125
Oh yes, that's a good catch. I think I totally forgot to cut a new release. But I have just released `4.1.0` and updated the StackBlitz as well.

https://www.npmjs.com/package/ngx-drag-to-select

[2021-06-19 12:05] #125 closed

[2021-06-19 12:09] d3lm commented on #128
Hey! To both of your points:

1: No, this is unfortunately not possible but can easily be added. I am happy to accept a PR for this to make it configurable.

2: There is currently no way to get the coordinates. However, I think we want to tackle the nested component use case in general. If you want to help out here as well I am down to discuss possible solutions.

[2021-08-10 07:32] ennjin opened #131 "[Dependencies] Replace node-sass by dart-sass"
There're some advantages of get rid of node-sass

1. node-sass is deprecated
2. It's required cpp compiler

The second point is important for developers using windows because there might be some troubles with MSBuild.

[2021-08-17 07:55] d3lm commented on #131
Hey there! I totally agree that we should replace node-sass with sass. Could you submit a PR?

[2021-09-01 09:54] #71 closed

[2021-09-02 17:31] lemmywrap opened #139 "Selection lost on update if dtsSelectItem is assigned a value"
As far as I understand, I can either do:
`<mat-card [dtsSelectItem]>`
or the following:
`<mat-card [dtsSelectItem]="document.id">`

When using the latter however, I have noticed that when the items are updated, the selection is reset.

To reproduce, see the following [stackblitz](https://stackblitz.com/edit/ngx-drag-to-select-pe3w4v?file=src/app/app.component.html)

- In both containers, select Do

[2021-09-04 09:58] d3lm commented on #139
Thanks for reporting this issue. I am not sure if I have the capacity to look into this right now. Would you be down to fix this and submit a PR?

[2021-09-28 12:56] TheGlockZentix commented on #101
@haseebahmad95 Did you manage to find a way around this problem?

[2021-09-29 15:50] haseebahmad95 commented on #101
Hi @TheGlockZentix,
This https://github.com/d3lm/ngx-drag-to-select/pull/142 PR will actually fix this issue.

For immediate fix replace line no 353 with following two lines in file `select-container.component.ts`
[code]

[2021-11-10 23:15] SbrowneA opened #143 "Select box does not update when scrolling, until mouse is moved"
I have a scrollable div which calls the `SelectContainerComponent.update()` method on the inner `dts-select-container` when scrolled. The select area updates correctly; however, the select box does not get updated until the mouse is moved.
Is there a particular reason for this (e.g. performance)?

I would like the select box to also update when I scroll just like a mouse move, is there some settin

[2021-11-11 07:42] d3lm commented on #143
Hey there 👋 Can you please provide a [StackBlitz](https://stackblitz.com/) as a reproduction?

[2021-11-12 00:02] SbrowneA commented on #143
Hi, @d3lm sure thing!
Here is [short video](https://imgur.com/a/RpPXHyJ) to illustrate what I mean by the "select box not getting updated (when scrolling at the same time as selecting).
And this is the [project on StackBlitz](https://stackblitz.com/edit/ngx-drag-to-select-ywnauj?file=src%2Fapp%2Fapp.component.scss)

[2021-11-30 03:33] gavinharriss opened #144 "[selectOnClick]="false" option prevents initiating a drag box between items"
If you take the README.md https://stackblitz.com/edit/ngx-drag-to-select?file=app%2Fpages%2Fhome%2Fhome.component.html link and add the `[selectOnClick]="false"` you'll find that the drag box can no longer be initiated from between card items. It's only possible to initiate a selection from the `dts-select-container` borders.

[2021-11-30 07:38] d3lm commented on #144
Hey there! Thanks for reporting this issue. Please provide a reproduction link using StackBlitz.

[2021-11-30 20:24] gavinharriss commented on #144
No worries, here you go: https://stackblitz.com/edit/ngx-drag-to-select-5xjaaj?file=src%2Fapp%2Fapp.component.html

Just something I noticed while looking at the solution as a potential option to a problem I'm solving.

A screenshot from your live demo - https://d3lm.github.io/ngx-drag-to-select/
![2021-12-01 09_16_56-Angular Drag-to-Select_ v4 2 0_ v4 2 0](https://user-images.githubusercontent.co

[2021-12-01 08:46] d3lm commented on #144
Ah yes, I see. This seems to be a bug indeed.

[2021-12-05 14:58] #139 closed

[2021-12-09 12:32] Ghostbird opened #147 "Angular 13 doesn't work with version 5"
I'm not sure _why_ it goes wrong. I get this error:
[code]
 If I switch back to _ngx-drag-to-select 4.2.0_ it works again.

 My app is using Angular 13.0.3 and Angular Material 13.1.0

[2021-12-09 14:57] d3lm commented on #147
Hey there! Do you have a repro link?

Try to change the styles import to
[code]
Does that work?

[2021-12-09 15:36] Ghostbird commented on #147
To reproduce I just did this:
[code]
The result is here: https://github.com/Ghostbird/testApp

[2021-12-09 17:49] d3lm commented on #147
Ok, I have fixed this issue and if you install `5.0.1` which is now on npm then you can just import the styles as
[code]
Let me know if it works for you.

[2021-12-10 08:22] Ghostbird commented on #147
Thank you so much for the quick fix! This works perfectly.

[2021-12-10 08:22] #147 closed

[2022-01-03 08:52] alexbazile commented on #63
I did some kind of implementation to listen to the scroll event and to call update the library check it out here:

https://stackblitz.com/edit/ngx-drag-to-select-scroll-error-hrn8de

[2022-01-04 12:54] raviji opened #148 "How to select specific tiles by default?"
I want to select specific tiles in the initial load. Please help me to resolve this. There is method to `selectAll()` but there is no for specific selection.

Thanks in advance.

[2022-01-04 15:53] d3lm commented on #148
Hi there! There is `selectItems` which takes a predicate so you can select them by `id` for instance. See here https://github.com/d3lm/ngx-drag-to-select#selectItems

[2022-01-05 05:13] raviji commented on #148
Thanks for the reply.

 I have tried the same but am getting below error
[code]

My actual code is:

[code]

[2022-01-06 11:16] d3lm commented on #148
Great! You're welcome. And thanks for the nice feedback.

[2022-01-06 11:16] #148 closed

[2022-01-18 07:54] ankita20051997 opened #150 "Once user reset selection after selecting the cell then he is not able to select same cell again with selecting any other cell or without refreshing the page"
resetSelection() {
	this.selection = {};
	this.selection.showPasteOption = false;
	this.selectedCell = [];
}

in this.selectedCell we have selected items so in reset function i put this.selectedCell = []; but  now i'm facing this issue.. please help

[2022-01-18 18:12] d3lm commented on #150
Hey there 👋 Thanks for reporting your issue. Please provide a reproduction using StackBlitz and give a clear list of reproduction steps and a clear description of what the problem is 🙏

[2022-04-27 09:40] Ankita2005199 opened #154 "In container-grid, selected cell data is not getting updated if there are 2 different grids but sharing single method to update"
Here is stackblitz url
Editor url  : https://stackblitz.com/edit/ngx-drag-to-select-mcmmtg?file=src/app/app.component.html
Application url : https://ngx-drag-to-select-mcmmtg.stackblitz.io

![dual selection](https://user-images.githubusercontent.com/104481276/165487775-fc6f2cd7-fa80-4ac2-b8b4-9ccd256cf7fe.png)

suppose we select Document1 cell from First container-grid then in selectedIds section

[2022-04-27 09:42] Ankita2005199 commented on #154
Please help for this issue

[2022-06-07 07:33] abhishack opened #158 "Button inside selected element not working"
I'm selecting a list element and a popup opens on selection, I've a button inside the list element. Is there any way I could avoid the button to open selection popup and do something else.

![screenshot](https://user-images.githubusercontent.com/24438367/172329579-ef28d6e2-534e-4a8b-80fd-5c46599815f8.png)

[2022-06-16 05:32] abhishack commented on #158
Hi @d3lm , Yes please check this [StackBlitz](https://angular-ivy-ja8cgz.stackblitz.io), I was hoping for button to be nonselectable somehow. Thank you :)

[2022-06-24 13:10] d3lm commented on #158
Thanks! I'd appreciate a PR as I don't have much time right now to work on this.

[2022-07-19 14:09] MuriloFranceschetto opened #159 "Second drag selection when ctrl key is pressed, keeping the First selection"
I wish there was a feature so that:

when pressed CTRL key, be able to select more items with drag event and add them to the list [selectedItems] and the event (select)

This works today with the click event.

below I will send an example with the click event working and the drag event not.

![2022-07-19_11h02_47](https://user-images.githubusercontent.com/33731913/179770117-18137807-c19c-4f21-9e1c

[2022-07-19 14:46] #159 closed

[2022-08-26 23:25] GRX commented on #144
@gavinharriss did you happen to find a workaround for this?

In my specific case, when you select a group, you should be able to drag that selected group to a different position.
Currently, after selecting multiple elements, trying to drag them updates the selection to the single entity you're trying to move.

When `[selectOnClick]="false"` is set, dragging to select is not working at all anymore

[2022-08-26 23:29] GRX commented on #128
Hi, sorry to take me this long to come back to you, the project I've been working on kind of died but I'm trying to revive it.

For point 1: frankly, I don't think I'm skilled enough to write such implementation.
For point 2: I sadly can't `getBoundClientRect` from a selected item, because the items that I need are in a nested component. But I wrote a basic function that can get the right elements

[2022-08-27 01:49] gavinharriss commented on #144
@GRX sorry, I never found a fix for the issue.

[2022-09-08 14:27] Eagleseb opened #160 "SelectItemDirective.value unexpectedly returns this instead of dtsSelectItem when dtsSelectItem is falsy"
Minimal template to reproduce issue:

[code]

Selecting div item will call selectItems method with array [SelectItemDirective] instead of [0]. Same thing for any dstSelectItem with falsy value.
I think this is because internally, SelectItemDirective.value checks if dtsSelectItem is truthy. Instead it should check if dtsSelectItem !== undefined.

I can push a PR if you are interested.

Sorry if I'm

[2022-09-17 10:26] d3lm commented on #160
Hey. Please provide a reproduction using stackblitz.com. I am pretty busy right now so I can't look into it and would appreciate a PR.

[2022-09-21 11:54] Eagleseb commented on #160
Hello, thanks for your reply. Here's a fork of the project stackblitz putting the issue in evidence: https://stackblitz.com/edit/ngx-drag-to-select-7gyu4j?file=src/app/app.component.html

as you can see, with [dtsSelectItem]="document.id", selecting the document with id 0 (falsy) wrongly select the DTS directive instead of the id:
![image](https://user-images.githubusercontent.com/1732443/19149715

[2022-09-21 20:58] #160 closed

[2022-09-28 19:55] RoopeHakulinen opened #162 "Mobile support like for desktop"
Thanks @d3lm for this well-written, maintained, and documented library.

As I understand it based on the docs and trying it out, the support for mobile is implemented by means different from those used on the desktop. For my use case, the mobile support should reflect what's available on the desktop. As such, I went ahead and implemented it by using touch events over mouse events, and it seems to

[2022-09-29 14:58] d3lm commented on #162
Hey there 👋 Thanks for reaching out, and I am glad to hear you like this library and find it useful.

That's a good point you bring up and I do think it does make sense to integrate touch events for mobile. A PR is more than welcome 🙏 If you push a draft we can iterate on it and I can provide feedback.

[2022-10-11 15:30] Eagleseb opened #163 "When dts container is destroyed, items are unselected"
Hey,

Because in the complete https://github.com/d3lm/ngx-drag-to-select/blob/75a05d48cbf18814430d476e161230dce580cd01/projects/ngx-drag-to-select/src/lib/select-container.component.ts#L318 an empty array is emitted, elements are always unselected when dts container is destroyed.

This is annoying if selected items list is shared with other components.

I suggest to not emit an empty array if ther

[2022-10-11 15:38] Eagleseb commented on #163
Actually I noticed that the select Output does just that already. You may close my issue and reject my PR :)
sorry for the trouble

[2022-11-15 10:54] gokanovic opened #165 "Cannot disable ctrl and shift keys to prevent select?"
I want to disable the ctrl and shift key to prevent select. As far as I know that is not possible or is it?

[2022-11-15 12:26] d3lm commented on #165
How do you mean ctrl + shift, that shortcut is not implemented, see
<img width="482" alt="image" src="https://user-images.githubusercontent.com/12571019/201919517-53adddd3-bab2-4434-8535-5d32a5cdc300.png">

I am afraid that without a reproducable and a list of steps there's not much I can do.

[2022-11-15 13:31] gokanovic commented on #165
I just want disable ctrl key and shift key. I don't want that the user is going to use these keys to make a selection. I want a single selection mode with no use  of ctrl or shift keys

[2022-11-18 08:12] #163 closed, assigned to nobody

[2022-11-18 10:32] d3lm commented on #163
Oh no worries, glad you figured it out. Thanks!

[2022-11-18 10:34] d3lm commented on #165
Have you checked the live page and played with the options? This does exactly what you want IIUC
<img width="592" alt="image" src="https://user-images.githubusercontent.com/12571019/202682876-a0e973ac-00f5-4dbb-94c0-f686431f1b98.png">

[2022-11-18 10:48] gokanovic commented on #165
![image](https://user-images.githubusercontent.com/741560/202687326-0ed74a4b-1797-4814-9e25-25c63c0b3cd1.png)

I think you really don't understand me. In live demo, if you uncheck "select mode" there, you can still make multiple selections by holding the ctrl key together. And that's what I don't want. I want to turn this off. As far as I can see that is not possible.

[2022-11-18 15:02] d3lm commented on #165
Yep, that is currently not supported. With CTRL or CMD (on Mac) you toggle a selection. There is currently not a single selection mode.

[2022-11-22 10:43] mslourens opened #166 "Dragging inside a dialog is not working correctly"
I have a project which uses ngx-drag-select outside a dialog, which works fine, but when I move the same component inside a dialog, the drag-box is drawn incorrect and the items are not getting selected anymore. The more you scroll inside the dialog, the worse the mouse position gets.

Here is a small demo project where you can see what I mean: https://angular-ivy-z3pxou.stackblitz.io. In it I hav

[2022-11-23 16:40] d3lm commented on #166
Hey, thanks for the reporting this issue. The problem here is that you need to manually call `container.update()` once the modal is open, to trigger re-calculation of the bounding boxes, and you'd have to somehow get access to the scroll container which is the `nz-modal-container` (or `NzModalContainerComponent`) and attach a scroll handler, so when you scroll you'd have to call `container.update(

[2022-11-24 08:54] mslourens commented on #166
Thanks @d3lm, I managed to get a reference to the scroll container and after calling the update method the selection worked fine! I really like this component, great work!

[2022-11-24 08:54] #166 closed, assigned to nobody

[2022-11-24 10:36] d3lm commented on #166
Thank you @mslourens <3 It means a lot to hear that. Out of curiosity, how did you get ahold of the scroll container?

[2022-11-24 10:58] mslourens commented on #166
I moved the scrollbar inside the dialog (by wrapping the content of the dialog inside a div with `overflow: auto`), set the height of the dialog to a `calc(100vh - 100px)` and used `@ViewChild` to get a reference to your component. After that I just called the `update` method in the scroll handler of the container div.

[2022-11-25 21:35] d3lm commented on #166
Yep, that sounds about right. Awesome!